<% content_for :title, "Button" %>

<div class="spacing">

<!--
  <section>
    <button class="button">button.button</button>
    <a class="button">a.button</a>
  </section>

  <section>
    <button class="button button__secondary">.button.button__secondary</button>
  </section>

  <section>
    <button class="button button__full">.button.button__full</button>
  </section>

  <section>
    <button class="button button__icon-right icon-chevron-right">.button.button__icon-right.icon-chevron-right</button>
  </section>

  <section>
    <button class="button button__icon-left icon-chevron-left">.button.button__icon-left.icon-chevron-left</button>
  </section>
-->

  <div>
    <button class="button__primary">Primary Button</button>
    <button class="button">Default Button</button>
    <button class="button__warning">Warning</button>
    <button class="button__error">Error</button>
    <button class="button__success">Success</button>
    <button class="button__disabled">Disabled</button>
  </div>

  <div>
    <button class="button button__full">Full width button</button>
  </div>

  <div>
    <button class="button button__icon-left icon-chevron-left">.button.button__icon-left.icon-chevron-left</button>
  </div>

</div>
