<% content_for :title, "Button" %>

<div class="spacing">

  <section>
    <button class="button">button.button</button>
    <a class="button">a.button</a>
  </section>

  <section>
    <button class="button button_secondary">.button.button_secondary</button>
  </section>

  <section>
    <button class="button button_full">.button.button_full</button>
  </section>

</div>
