<% content_for :title, "Button" %>

<div class="spacing">

  <section>
    <button class="button">button.button</button>
    <a class="button">a.button</a>
  </section>

  <section>
    <button class="button button__secondary">.button.button__secondary</button>
  </section>

  <section>
    <button class="button button__full">.button.button__full</button>
  </section>

  <section>
    <button class="button button__icon-right icon-chevron-right">.button.button__icon-right.icon-chevron-right</button>
  </section>

  <section>
    <button class="button button__icon-left icon-chevron-left">.button.button__icon-left.icon-chevron-left</button>
  </section>

</div>
