<% content_for :title, "Button" %>

<div class="spacing">

  <section>
    <button class="button">Example</button>
    <a class="button">Example</a>
  </section>

  <section>
    <button class="button button-secondary">Example</button>
    <a class="button button-secondary">Example</a>
  </section>

  <section>
    <button class="button button-dangerous">Example</button>
    <a class="button button-dangerous">Example</a>
  </section>

  <section>
    <button class="button button-small">Example</button>
    <a class="button button-small">Example</a>
  </section>

</div>
