<% content_for :title, "Carousel" %>

<div class="rhythm">

  <section class="spacing">

    <h2 class="heading-two">TinySlider</h2>

    <p>Carousels are provided by the <a href="https://github.com/ganlanyuan/tiny-slider">TinySlider</a> library.</p>

    <hr />

    <h2 class="heading-two">Basic Slider</h2>

    <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "basic" } do -%>
<div data-carousel>
  <img src="http://placehold.it/1024x600">
  <img src="http://placehold.it/1024x600">
  <img src="http://placehold.it/1024x600">
  <img src="http://placehold.it/1024x600">
  <img src="http://placehold.it/1024x600">
</div>
    <%- end -%>

    <hr />

    <h2 class="heading-two">Gallery</h2>

    <p>
      Banners with thumbnails, lazy-loading, fullscreen, videos, captions 
    </p>

    <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "gallery" } do -%>
<div data-carousel>
  <a href="http://placehold.it/1024x600" data-caption="This image has a caption"></a>
  <a href="http://placehold.it/1024x600"></a>
  <a href="https://www.youtube.com/watch?v=3FOzD4Sfgag" data-caption="This video has a caption"></a>
  <a href="http://placehold.it/1024x600"></a>
  <a href="http://placehold.it/1024x600"></a>
  <a href="http://placehold.it/1024x600"></a>
</div>
    <%- end -%>

  </section>

</div>
