<% content_for :title, "Content classes" %>

<div class="content-spacing content-lists">

  <h2 class="heading-two">Content classes</h2>

  <p>Ornament comes with a few <em>content</em> classes that handle cherry-picking normalisations.</p>

  <p>
    <strong>.content-lite</strong><br />
    When above the "medium" breakpoint, the font-size is increased. 
  </p>

  <p>
    <strong>.content-lists</strong><br />
    Adds in list styles for <code>ul</code> and <code>ol</code> elements.
  </p>

  <p>
    <strong>.content-spacing</strong><br />
    Base spacing for typographical elements such as <code>p</code>, <code>ul</code>, <code>ol</code>, <code>h1-6</code>. Will also add spacing around <code>.panel</code>.<br />
    Automatically removes top and bottom margins from first and last children respectively. 
  </p>

  <p>
    <strong>.content</strong><br />
    Pulls all of the above in to one single class to apply to content areas.
  </p>

</div>