<% content_for :title, "Embed" %>

<div class="spacing">

  <h2 class="heading-two">Youtube Video</h2>

  <div class="embed__youtube">
    <iframe src="//www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
  </div>

  <h2 class="heading-two">Vimeo Video</h2>

  <div class="embed__vimeo">
    <iframe src="//player.vimeo.com/video/1084537" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <h2 class="heading-two">Issuu</h2>

  <div data-configid="0/10351939" style="width: 525px; height: 340px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>

</div>
