<% content_for :title, "Environment" %>

<div class="spacing">

  <p>The environment band appears at the top of development and staging environments:</p>

  <section class="environment-development"></section>
  <section class="environment-staging"></section>

</div>
