<% content_for :title, "Event tracking" %>

<div class="spacing">

  <div class="content">
    <p>Event tracking hooks in to the external links script. You can open <code>external_links.js</code> and adjust the settings to match your requirements. You can switch between ga.js and analytics.js tracking types and enable debugging.</p>

    <p>By default, the category is the text in the link. The label is the URL that the link goes to.</p>

    <p>eg. If you had a link named "Test Link" and it goes to "http://google.com", the category will be saved as "Test Link" and the value will be saved as "http://google.com".</p>

    <p>You can over-ride both of these settings by passing in data attributes on a link on a case-by-case basis with <code>data-track-category</code> and <code>data-track-label</code>.</p> 

    <p>In other words:</p>
  </div>

  <pre class="sg-pre prettyprint">&lt;a href="[label]">[category]&lt;/a></pre>

  <pre class="sg-pre prettyprint">&lt;a href="http://www.google.com" data-track-category="[category]" data-track-label="[label]">Go to Google&lt;/a></pre>

  <hr />

  <h2 class="heading-two">Programatic event tracking</h2>

  <p>You can track an event any time in javascript by calling this helper function:</p>

  <pre class="sg-pre prettyprint">Ornament.C.Analytics.trackEvent(category, label, type)</pre>

  <div class="content">
    <p>The category and label are required to send the event to analytics. If no type is specified it will default to "click"</p>
    <p>An example event might be when a register modal is shown:</p>
  </div>

  <pre class="sg-pre prettyprint">Ornament.C.Analytics.trackEvent("Modal Shown", "Register")</pre>

  <hr />

  <h2 class="heading-two">Programatic virtual pageview</h2>

  <p>Virtual pageviews can be handy for situations where you might want to track filters used, especially in cases where the history API is implemented.</p>

  <p>The <code>trackVirtualPageview</code> function takes a URL to track and you can optionally pass in a page title to track with it. If no page title is passed in it will track the URL with the current page title, which should be fine in most cases.</p>

  <pre class="sg-pre prettyprint">Ornament.C.Analytics.trackVirtualPageview("/products?category=virtual")</pre>

</div>
