<% content_for :title, "Field" %>

<div class="spacing">

  <section class="spacing-tight">

    <div class="field field-string">
      <label class="field--label">
        <abbr title="required">*</abbr>
        Example
      </label>
      <input type="text"/>
      <p class="field--error">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <p class="field--hint">
        Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
    </div>

    <div class="field field-string field-horizontal">
      <label class="field--label">
        <abbr title="required">*</abbr>
        Example
      </label>
      <input type="text"/>
      <p class="field--error">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <p class="field--hint">
        Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
    </div>

  </section>

</div>
