<% content_for :title, "Fixed Footer" %>

<style>
  .sg-footer {
    background: #bada55;
    padding: 20px 0;
  }
</style>

<div class="content">
  
  <p>Fixed footer uses <code>flexbox</code> to position the footer at the bottom of the screen.</p>

  <p>Browsers that don't support flexbox will see the footer sit at the bottom of the content as usual.</p>

  <p>Fixed footer can be turned on or off by changing the <code>$fixed-footer</code> sass variable located in <code>settings.scss</code>.</p>

</div>
