<% content_for :title, "Fixed Footer" %>

<div class="content-spacing">

  <p>By default the ornament footer is not fixed to the bottom of the screen.</p>
  <p>To make it fixed, find the element with the class of <code>layout</code> and add <code>layout_fixed-footer</code>.</p>
  <p>eg:</p>

  <pre class="prettyprint">
    &lt;a class="skip-link" href="#main">skip to content&lt;/a>
    &lt;div class="layout <strong>layout_fixed-footer</strong>">
      &lt;div class="layout--mobile-tray"></pre>

</div>
