<% content_for :title, "Fixed Footer" %>

<% content_for :styles do -%>
  <style>
    .sg-footer {
      background: #bada55;
      padding: 20px 0;
    }
  </style>
<% end %>

<div class="content">
  
  <p>Fixed footer uses <code>flexbox</code> to position the footer at the bottom of the screen.</p>

  <p>Browsers that don't support flexbox will see the footer sit at the bottom of the content as usual.</p>

</div>
