<%- content_for :title, "Flex" -%>

<div class="panel__notice panel--padding">
  <strong>Warning:</strong> Only use these features if you are 100% you won't need to support IE8 or IE9. Please beware of the <a href="http://caniuse.com/#feat=flexbox">browser support</a> before using anything on this page.<br />
  Please also be aware of the well documented <a href="https://github.com/philipwalton/flexbugs">flexbugs</a> when implementing flexbox.
</div>

<hr />

<div class="content-spacing">
  <h2 class="heading-two">Flexbox Mixins</h2>
  <p>There are several flexbox related SCSS mixins:</p>

  <%-
    flex = [
      "@include display-flex;",
      "@include display-inline-flex;",
      "@include flex($value);",
      "@include flex-wrap($value:wrap);",
      "@include flex-direction($value);",
      "@include flex-grow($value);",
      "@include flex-shrink($value);",
      "@include align-items($value);",
      "@include justify-items($value);",
      "@include justify-self($value);"
    ]
  -%>

  <div class="table-container">
    <table class="table table__bordered table__flush" style="min-width: 800px;">
      <thead>
        <tr>
          <th>Mixin</th>
        </tr>
      </thead>
      <tbody>
        <%- flex.each do |mixin| -%>
          <tr>
            <td><code><%= mixin -%></code></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>

  <hr />

  <h2 class="heading-two">Flex Grid</h2>

  <p>There are a couple of premade mixins that use the mixins above to create an easy-to-use grid system:</p>

  <%-
    flex_grid = [
      "@include flex-row($gutter:false)",
      "@include flex-col($width, $gutter:false, $grow:0, $shrink:0)"
    ]
  -%>

  <div class="table-container">
    <table class="table table__bordered table__flush" style="min-width: 800px;">
      <thead>
        <tr>
          <th>Mixin</th>
        </tr>
      </thead>
      <tbody>
        <%- flex_grid.each do |mixin| -%>
          <tr>
            <td><code><%= mixin -%></code></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>

  <p>
    <em>Hint:</em> you can use the <code>span(x,y)</code> mixin to make setting widths easier. eg: <code>@include flex-col(span(1,2));</code> for a 50% width column.
  </p>
</div>