<%- content_for :title, "Image Uploader" -%>

<h2 class="heading-two">Example uploader</h2>

<%= render "example_uploader" -%>

<div class="content-spacing content-lists">
  <hr />
  <h2 class="heading-two">Usage</h2>
</div>