<% content_for :title, "Password Revealer" %>

<div class="content-spacing">
  <%= simple_form_for :test_form, url: request.path, remote: true do |f| %>

  <h2 class="heading-two"></h2>

  <p>Use <code>data-password-reveal</code> on your input field to add a reveal button. This will toggle the input type between text and password.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "password-reveal", ruby: capture { -%>
&lt;%= f.input :password_revealer, wrapper_html: { class: "form--medium" }, input_html: { data: { password_reveal: "" } } %>
  <%- } } do -%>
<%= f.input :password_revealer, wrapper_html: { class: "form--medium" }, input_html: { data: { password_reveal: "" } } %>
  <%- end -%>

  <% end %>
</div>
