<%= content_for :title, "Content Classes and Spacing" -%>

<%- content_for :scripts do -%>
  <script>
    $(function(){

      var $spacingRadios = $("#spacing-radios").find("input");
      var $spacingTarget = $("#spacing-target");
      $spacingRadios.on("change", function(){
        var newValue = $(this).val();
        $spacingTarget.attr("class", "").addClass(newValue);
      });

    });
  </script>
<%- end -%>

<div class="content-spacing content-lists">

  <p>Content classes can be applied to areas to speed up spacing and typography styles.</p>

  <h2 class="heading-two">Variations of content classes</h2>

  <p><code>.content-large</code> will bump up the font-size and apply breakpoints that reduce the font-size back down through screen size changes.</p>

  <p><code>.content-lists</code> apply bullets to both <code>ul</code> and <code>ol</code>s. This class can either be applied to a container that styles up ALL lists inside it, or it can be applied directly to lists that need to be styled independantly of other lists. </p>

  <p><code>.content-spacing</code> will apply spacing around paragraphs and headings. Spacing is automatically removed from the top of the first element and from the bottom of the last element.</p>

  <p><code>.content</code> takes everything and smushes it all in to one easy-to-use class.</p>

  <h2 class="heading-two">Spacing classes</h2>

  <p>You can also apply <code>spacing-*</code> classes to parent elements which will space all direct child block-level elements evenly.</p>

  <p>These spacing classes are named after our the spacing units in our <code>settings.css.scss</code> file.</p>

  <ul>
    <li><code>.spacing-xxx-loose</code> - uses <code>$xxx-large-unit</code></li>
    <li><code>.spacing-xx-loose</code> - uses <code>$xx-large-unit</code></li>
    <li><code>.spacing-x-loose</code> - uses <code>$x-large-unit</code></li>
    <li><code>.spacing-loose</code> - uses <code>$large-unit</code></li>
    <li><code>.spacing</code> - uses <code>$default-unit</code></li>
    <li><code>.spacing-tight</code> - uses <code>$small-unit</code></li>
    <li><code>.spacing-x-tight</code> - uses <code>$x-small-unit</code></li>
    <li><code>.spacing-xx-tight</code> - uses <code>$xx-small-unit</code></li>
    <li><code>.spacing-xxx-tight</code> - uses <code>$xxx-small-unit</code></li>
  </ul>

  <p>To use them, simply wrap the elements you want spaced in a spacer class, like so:</p>

  <pre>&lt;div class='spacing'>
  &lt;div>I'm spaced.&lt;/div>
  &lt;div>I'm also spaced.&lt;/div>
  &lt;div>Spaaaaaaaace.&lt;/div>
  &lt;div><a href="http://www.youtube.com/watch?v=xYk9q9UBnmg">Spaceship</a>!&lt;/div>
  &lt;div>Mucho espacio&lt;/div>
&lt;/div></pre>

  <h2 class="heading-two">Live-action Spacing Class:</h2>

  <p>Here is a list of red lines all spaced out using the spacing classes. Click on the radio buttons below to view the difference in the spacing classes:</p>

  <p id="spacing-radios">
    <label for="spacing-xxx-loose">
      <input type="radio" id="spacing-xxx-loose" value="spacing-xxx-loose" name="spacing-unit">.spacing-xxx-loose
    </label>
    <label for="spacing-xx-loose">
      <input type="radio" id="spacing-xx-loose" value="spacing-xx-loose" name="spacing-unit">.spacing-xx-loose
    </label>
    <label for="spacing-x-loose">
      <input type="radio" id="spacing-x-loose" value="spacing-x-loose" name="spacing-unit">.spacing-x-loose
    </label>
    <label for="spacing-loose">
      <input type="radio" id="spacing-loose" value="spacing-loose" name="spacing-unit">.spacing-loose
    </label>
    <label for="spacing">
      <input type="radio" id="spacing" value="spacing" name="spacing-unit" checked>.spacing
    </label>
    <label for="spacing-tight">
      <input type="radio" id="spacing-tight" value="spacing-tight" name="spacing-unit">.spacing-tight
    </label>
    <label for="spacing-x-tight">
      <input type="radio" id="spacing-x-tight" value="spacing-x-tight" name="spacing-unit">.spacing-x-tight
    </label>
    <label for="spacing-xx-tight">
      <input type="radio" id="spacing-xx-tight" value="spacing-xx-tight" name="spacing-unit">.spacing-xx-tight
    </label>
    <label for="spacing-xxx-tight">
      <input type="radio" id="spacing-xxx-tight" value="spacing-xxx-tight" name="spacing-unit">.spacing-xxx-tight
    </label>
  </p>

  <div class="spacing" id="spacing-target" style="background: #bada55;">
    <div style="background: red; height: 3px;"></div>
    <div style="background: red; height: 3px;"></div>
    <div style="background: red; height: 3px;"></div>
    <div style="background: red; height: 3px;"></div>
    <div style="background: red; height: 3px;"></div>
  </div>

</div>