<%= content_for :title, "Updating existing components" -%>

<div class="content-spacing">

  <p>As mentioned in the <%= link_to "creating components", "/styleguide/getting_started_content_classes_and_spacing" -%> section, component styles are prefixed with the name of the component.</p>

  <p>For example, the header has a class of <code>header</code>. One can safely assume that the styles for it will be in a <code>header.css</code> file. Opening up the <code>/app/assets/stylesheets/components/header.css.scss</code> file, we can see the default styles for the header. Here we can quickly and easily change the header background colour or any other style you need to change.</p>

</div>