<%= content_for :title, "Content Classes and Spacing" -%>

<div class="content-spacing">

  <p>Content classes can be applied to areas to speed up spacing and typography styles.</p>

  <h2 class="heading-two">Varations of content classes</h2>

  <p><code>.content-large</code> will bump up the font-size and apply breakpoints that reduce the font-size back down through screen size changes.</p>

  <p><code>.content-lists</code> apply bullets to both <code>ul</code> and <code>ol</code>s. This class can either be applied to a container that styles up ALL lists inside it, or it can be applied directly to lists that need to be styled independantly of other lists. </p>

  <p><code>.content-spacing</code> will apply spacing around paragraphs and headings. Spacing is automatically removed from the top of the first element and from the bottom of the last element.</p>

  <p><code>.content</code> takes everything and smushes it all in to one easy-to-use class.</p>

</div>