<%= content_for :title, "What is Ornament?" -%>

<div class="content-spacing">

  <p>Ornament is a <strong>front-end</strong> boilerplate for websites built using Ruby on Rails.</p>

  <p>If you would like to use Ornament for static sites (or anything else really) there's the <a href="https://github.com/katalyst/ornament-static" target="_blank">static converter</a>, which will reduce the amount of <em>railsiness</em> in Ornament.</p>

  <p>The idea behind Ornament is not to be a prototyping tool like <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, but instead be a framework of utilities and features that allow you to quickly develop production-level front-end code.</p>

  <p>Ornament is split in to two sections: <strong>utilities</strong> and <strong>components</strong>.</p>

  <h2 class="heading-two">CSS Utilities</h2>

  <p>The sass utilties live in <code>/app/assets/stylesheets/ornament/utilties/</code></p>

  <p>Utilities are usually mixins and sometimes helper classes which aim to help you build common patterns or to generally make making things easier. Think of them like our own specialised <a href="http://compass-style.org" target="_blank">Compass</a>.</p>

  <h2 class="heading-two">Compenents</h2>

  <p>Components, much like Ornament itself, is split in two parts: <strong>CSS</strong> and <strong>Javascript</strong>.</p>

  <p>Not all components require both, some might only be JS, some might only be CSS.</p>

  <p>The CSS for components live in <code>/app/assets/stylesheets/components/</code>, the JS lives in <code>/app/assets/javascripts/components/</code></p>

  <p>You can read more about how to <a href="/styleguide/getting_started_new_components">make components</a> and <a href="/styleguide/getting_started_updating_components">update components</a> in their respective sections.</p>

</div>