<%= content_for :title, "Understanding the settings file" -%>

<div class="content-spacing">

  <p>The settings file (<code>/app/assets/stylesheets/settings.css.scss)</code> contains all the CSS variables we use throughout our components.</p>

  <h2 class="heading-two">Spacing units</h2>

  <p>The spacing units should be used throughout our CSS for margins and paddings.</p>

  <p>For example, if I wanted to add 16px padding to <code>.my-block</code> I would use the following code:</p>

  <pre class="sg-pre prettyprint">.my-block {
  padding: $default-unit;
}</pre>

  <h2 class="heading-two">Breakpoints & Gutters</h2>

  <p>Breakpoints are used specifically for the <code>media-query</code> utility. These are globally scoped "everything canges at this size" values. It might also be helpful to use common component-specific breakpoints here as well.</p>

  <p>Gutters are specifically used for <code>spang</code>, however you may want to use gutters in leui of spacing units when you need a space that specifically reflects the size of a gutter. For example, vertical spacing between two panels.</p>

</div>