<%= content_for :title, "Grunt tasks" -%>

<div class="content">

  <h2 class="heading-two">Installing grunt and required node modules</h2>

  <p>Each ornament project comes with a package.json file.</p>

</div>