<div class="content-spacing">

  <p>Ornament is a pattern/component library and a boilerplate template for kick-starting development for a ruby on rails project.</p>

  <p>Ornament is not a CSS framework for prototyping.</p>

  <p>You can use ornament to generate a dynamic application layout with all the bells and whistles you don't want to have to write every time you start a new project, such as various yields and layouts.</p>

  <p>On the front-end side it comes with a bunch of SASS and JS utilities to make creating your CSS rules and JS behaviours a breeze.</p>

  <p>Ornament is not designed to be upgraded. It should be generated exactly once at the beginning of your project development.</p>

  <hr />
  <h2 class="heading-two">Alternate versions</h2>

  <p>There are alternate versions of ornament that are in various stages of development.</p>

  <p><a href="https://github.com/katalyst/ornament-static" target="_blank">Static generator</a> will generate a static site using grunt from the latest version of Ornament.</p>

  <p><a href="https://github.com/katalyst/ornament/tree/develop">The develop branch</a> is the latest version of Ornament and will always have the latest fixes and updates.</p>

</div>