<div class="spacing">

  <h2 class="heading-two">Components</h2>

  <ul>
    <li><a href="/styleguide/align">Align</a></li>
    <li><a href="/styleguide/button">Button</a></li>
    <li><a href="/styleguide/clearfix">Clearfix</a></li>
    <li><a href="/styleguide/content">Content</a></li>
    <li><a href="/styleguide/environment">Environment</a></li>
    <li><a href="/styleguide/fixed_footer">Fixed Footer</a></li>
    <li><a href="/styleguide/form">Form</a></li>
    <li><a href="/styleguide/fotorama">Fotorama - Slider and Galleries</a></li>
    <li><a href="/styleguide/heading">Heading</a></li>
    <li><a href="/styleguide/island">Island</a></li>
    <li><a href="/styleguide/navigation">Navigation</a></li>
    <li><a href="/styleguide/navigation_horizontal">Navigation Horizontal</a></li>
    <li><a href="/styleguide/pagination">Pagination</a></li>
    <li><a href="/styleguide/panel">Panel</a></li>
    <li><a href="/styleguide/settings_preview">Settings Preview</a></li>
    <li><a href="/styleguide/showjs">ShowJS</a></li>
    <li><a href="/styleguide/skip_link">Skip Link</a></li>
    <li><a href="/styleguide/spacing">Spacing</a></li>
    <li><a href="/styleguide/spang">Spang</a></li>
    <li><a href="/styleguide/sticky_header">Sticky Header</a></li>
    <li><a href="/styleguide/table">Table</a></li>
    <li><a href="/styleguide/tabs">Tabs</a></li>
    <li><a href="/styleguide/tooltip">Tooltip</a></li>
  </ul>

</div>
