<div class="spacing">

  <h2 class="heading-two">Components</h2>

  <ul>
    <li><a href="/styleguide/button">Button</a></li>
    <li><a href="/styleguide/environment">Environment</a></li>
    <li><a href="/styleguide/footer">Footer</a></li>
    <li><a href="/styleguide/header">Header</a></li>
    <li><a href="/styleguide/heading">Heading</a></li>
    <li><a href="/styleguide/layout">Layout</a></li>
    <li><a href="/styleguide/navigation">Navigation</a></li>
    <li><a href="/styleguide/navigation_horizontal">Navigation Horizontal</a></li>
    <li><a href="/styleguide/navigation_dropdown">Navigation Dropdown</a></li>
    <li><a href="/styleguide/settings_preview">Settings Preview</a></li>
    <li><a href="/styleguide/skip_link">Skip Link</a></li>
    <li><a href="/styleguide/slider">Slider</a></li>
    <li><a href="/styleguide/spacing">Spacing</a></li>
    <li><a href="/styleguide/tabs">Tabs</a></li>
    <li><a href="/styleguide/tooltip">Tooltip</a></li>
  </ul>

  <h2 class="heading-two">Experimental</h2>

  <p>
    Experimental components are not included in the default Ornament
    generation. To include experimental components, run the generator with the
    <code>--experimental</code> option:
  </p>

  <pre><code>rails generate ornament --experimental --skip-gems --skip-settings</code></pre>

  <ul>
    <li><a href="/styleguide/align">Align</a></li>
    <li><a href="/styleguide/clearfix">Clearfix</a></li>
    <li><a href="/styleguide/field">Field</a></li>
    <li><a href="/styleguide/float">Float</a></li>
    <li><a href="/styleguide/island">Island</a></li>
    <li><a href="/styleguide/split">Split</a></li>
    <li><a href="/styleguide/table">Table</a></li>
  </ul>

</div>
