<div class="spacing content-lists">

  <h2 class="heading-two">Styleguide</h2>
  <ul>
    <li><a href="/styleguide/settings_preview">Settings Preview</a></li>
    <li><a href="/styleguide/sample_content">Sample Content Page</a></li>
  </ul>

  <h2 class="heading-two">Getting started</h2>
  <ul>
    <li><a href="/styleguide/getting_started_intro">What is Ornament?</a></li>
    <li><a href="/styleguide/getting_started_headings_and_typography">Headings and Typography</a></li>
    <li><a href="/styleguide/getting_started_content_classes_and_spacing">Content Classes and Spacing</a></li>
    <li><a href="/styleguide/getting_started_settings">Understand the CSS settings file</a></li>
    <li><a href="/styleguide/getting_started_new_components">Creating new components (CSS + HTML + JS)</a></li>
    <li><a href="/styleguide/getting_started_updating_components">Updating existing components. AKA, 'How do I change the header background colour?'</a></li>
    <li><a href="/styleguide/getting_started_grunt">Using Grunt to generate icons</a></li>
  </ul>

  <h2 class="heading-two">CSS Utilities</h2>
  <ul>
    <li><a href="/styleguide/spang">Spang - Responsive grids</a></li>
    <li><a href="/styleguide/vertre">Vetre - Vertically aligning an image inside a responsive square</a></li>
    <li><a href="/styleguide/lists">List mixins</a></li>
    <li><a href="/styleguide/media-queries">Media Queries</a></li>
  </ul>

  <h2 class="heading-two">Components</h2>
  <ul>
    <li><a href="/styleguide/align">Align</a></li>
    <li><a href="/styleguide/button">Button</a></li>
    <li><a href="/styleguide/clearfix">Clearfix</a></li>
    <li><a href="/styleguide/content">Content</a></li>
    <li><a href="/styleguide/environment">Environment</a></li>
    <li><a href="/styleguide/fixed_footer">Fixed Footer</a></li>
    <li><a href="/styleguide/form">Form</a></li>
    <li><a href="/styleguide/fotorama">Fotorama - Slider and Galleries</a></li>
    <li><a href="/styleguide/island">Island</a></li>
    <li><a href="/styleguide/pagination">Pagination</a></li>
    <li><a href="/styleguide/panel">Panel</a></li>
    <li><a href="/styleguide/showjs">ShowJS</a></li>
    <li><a href="/styleguide/skip_link">Skip Link</a></li>
    <li><a href="/styleguide/spacing">Spacing</a></li>
    <li><a href="/styleguide/sticky_header">Sticky Header</a></li>
    <li><a href="/styleguide/table">Table</a></li>
    <li><a href="/styleguide/tabs">Tabs</a></li>
    <li><a href="/styleguide/tooltip">Tooltip</a></li>
  </ul>

</div>
