<div class="spacing content-lists">

  <p>
    Once generated, be sure to update your assets.rb with the required assets to be compiled:<br />
    <code>Rails.application.config.assets.precompile += %w( styleguide.css modernizr.js selectivizr.js respond.js application_bottom.js )</code>
  </p>

  <%= render "layouts/styleguide/styleguide_navigation" -%>
</div>
