<% content_for :title, "jQuery UI Support" %>

<div class="content-spacing">

  <p>jQuery UI is not supported out of the box in Ornament, however it is easy to add. Follow these steps:</p>

  <p>Add the jQuery UI gem (then bundle and restart your server):</p>

  <pre class="sg-pre">gem 'jquery-ui-rails', '~> 6.0.1'</pre>

  <p>Add the jQuery UI imports to <code>vendor.js</code>:</p>

  <pre class="sg-pre">// =========================================================================
// jQuery UI
// =========================================================================

//= require jquery-ui/widget
//= require jquery-ui/widgets/datepicker
//= require libs/jquery-ui-timepicker-addon</pre>

  <p>Add the jQuery UI imports to <code>core.scss</code>, along with the ornament jQuery UI theme:</p>

  <pre class="sg-pre">// =========================================================================
// jQuery UI
// =========================================================================

@import "jquery-ui/datepicker";
@import "ornament/jquery-ui-theme";</pre>

  <p>Finally, enable jQuery UI support in <code>form-datepicker.js</code>:</p>

  <pre class="sg-pre">enabled: true</pre>

  <p>You can check for jQuery UI support at any time by executing the following in your console:</p>

  <pre class="sg-pre">Ornament.C.FormDatepicker.enabled</pre>

</div>