<% content_for :title, "jQuery UI Support" %>

<div class="content-spacing">

  <p>jQuery UI is not supported out of the box in Ornament, however it is easy to add. Follow these steps:</p>

  <p>Add the jQuery UI gem (then bundle and restart your server):</p>

  <pre class="sg-pre">gem 'jquery-ui-rails', '~> 6.0.1'</pre>

  <p>Add the jQuery UI imports to <code>vendor.js</code>:</p>

  <pre class="sg-pre">// =========================================================================
// jQuery UI
// =========================================================================

//= require jquery-ui/widget
//= require jquery-ui/widgets/datepicker
//= require libs/jquery-ui-timepicker-addon</pre>

  <p>Add the jQuery UI imports to <code>core.scss</code>, along with the ornament jQuery UI theme:</p>

  <pre class="sg-pre">// =========================================================================
// jQuery UI
// =========================================================================

@import "jquery-ui/datepicker";
@import "ornament/jquery-ui-theme";</pre>

  <p>Finally, enable jQuery UI support in <code>form-datepicker.js</code>:</p>

  <pre class="sg-pre">enabled: true</pre>

  <p>You can check for jQuery UI support at any time by executing the following in your console:</p>

  <pre class="sg-pre">Ornament.C.FormDatepicker.enabled</pre>

  <hr />
  <h2 class="heading-two">Legacy jQuery UI support</h2>

  <p>jquery-ui-rails is a gem that likes to rearrange their assets every now and then causing major breaking changes.</p>
  <p>It's likely that following this guide with a different version of jquery-ui-rails will not work as expected.</p>
  <p>The easiest method for discovering the correct includes paths to use in your js and css is by running <code>bundle open jquery-ui-rails</code> and exploring the folder structure.</p>
  <p>It's likely one of these:</p>
  <ul class="content-lists">
    <li>jquery.ui.foo</li>
    <li>jquery-ui/foo</li>
    <li>jquery-ui/widgets/foo</li>
  </ul>
  <p>Some older versions will require a <code>core</code> file to be included before working properly.</p>
  <p>If you find the theme isn't working, try <a href="https://github.com/katalyst/ornament/blob/v2.0.5/lib/generators/ornament/templates/app/assets/stylesheets/ornament/_jquery-ui-theme.scss">the previous version of the theme file</a>.</p>

</div>