<%- content_for :title, "Other Yields" -%>

<div class="content-spacing">

  <h2 class="heading-two">Classes</h2>

  <p>You can apply a custom class to your body element by using <code>:body_class</code>. This is helpful if you need to alter something in the global layout just for one page.</p>
  <p><code>&lt;%- content_for :body_class, "other-yields" -%></code></p>

  <p>You can also apply a different class to your <code>.layout--main</code> element which is what controls the top and bottom padding between your page and header/footer.</p>
  <p><code>&lt;%- content_for :layout_class, "layout__flush" -%></code></p>

</div>