<%= content_for :title, "Above and below page" -%>

<%= content_for :styles do -%>
  <style>
    .red-box {
      background: red;
      height: 20px;
    }
  </style>
<%- end -%>

<%= content_for :above_layout do -%>
  <div class="red-box"></div>
<%- end -%>

<%= content_for :below_layout do -%>
  <div class="red-box"></div>
<%- end -%>


<div class="content-spacing content-lists">
  <p>You can yield above and below the main page layout by using:</p>

  <pre class="sg-pre prettyprint">&lt;%= content_for :above_layout do -%>
  &lt;div class="red-box">&lt;/div>
&lt;%- end -%></pre>

  <pre class="sg-pre prettyprint">&lt;%= content_for :below_layout do -%>
  &lt;div class="red-box">&lt;/div>
&lt;%- end -%></pre>

  <p>This can be useful for pulling elements outside of the regular page layout, say something needs to go fullwidth or sit above the page title.</p>

</div>