<%= content_for :title, "Sidebar Left" -%>

<%= content_for :sidebar do -%>
  <div class="panel__default">
    This is the sidebar
  </div>
<%- end -%>

<div class="content-spacing content-lists">
  <p>You can throw things in to a sidebar layout by using the :sidebar yield:</p>

  <pre class="sg-pre prettyprint">&lt;%= content_for :sidebar do -%>
  This is the sidebar
&lt;%- end -%></pre>
</div>