<%= content_for :title, "Sidebar Right" -%>

<%= content_for :styles do -%>
  <style>
    .example {
      background: #ccc;
      width: 100%;
      padding: 10px;
    }
  </style>
<%- end -%>

<%= content_for :sidebar_right do -%>
  <div class="example">
    This is the sidebar
  </div>
<%- end -%>

<div class="content-spacing content-lists">
  <p>You can throw things in to a right-hand sidebar layout by using the :sidebar_right yield:</p>

  <pre class="sg-pre prettyprint">&lt;%= content_for :sidebar_right do -%>
  This is the sidebar
&lt;%- end -%></pre>
</div>