<%- content_for :title, "Sidebar Yields" -%>

<div class="spacing">

  <h2 class="heading-two">Sidebar</h2>

  <div class="content-spacing content-lists">
    <p>You can throw things in to a sidebar layout by using the <code>:sidebar</code> yield:</p>
  </div>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "sidebar_left", ruby: capture { -%>
&lt;%- content_for :sidebar do -%>
  &lt;div class="panel panel__passive">
    Panel in sidebar
  &lt;/div>
&lt;%- end -%>

Content
  <%- } } do -%>
<div class="page__with-sidebar">
  <div class="page--main">
    Content
  </div>
  <div class="page--sidebar">
    <div class="panel panel__passive">
      Panel in sidebar
    </div>
  </div>
</div>
  <%- end -%>

  <hr />
  <h2 class="heading-two">Sidebar right</h2>

  <div class="content-spacing content-lists">
    <p>You can put the content on the right by changing the yield to <code>:sidebar_right</code>.</p>
  </div>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "sidebar_right", ruby: capture { -%>
&lt;%- content_for :sidebar_right do -%>
  &lt;div class="panel panel__passive">
    Panel in sidebar
  &lt;/div>
&lt;%- end -%>

Content
  <%- } } do -%>
<div class="page__with-sidebar-right">
  <div class="page--main">
    Content
  </div>
  <div class="page--sidebar">
    <div class="panel panel__passive">
      Panel in sidebar
    </div>
  </div>
</div>
  <%- end -%>

</div>
