<% content_for :title, "Menu with more" %>

<div class="spacing">
  
  <div class="content">
    <p>A menu that fits responsively and moves any over-flowing links in to a "more" menu.</p>

    <p>The library used is called <a href="https://github.com/gijsroge/priority-navigation" target="_blank">Priority Navigation</a> and has it's own documentation and settings.</p>

    <p>Resize your window to see the "more" menu pop in as required.</p>
  </div>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "more-menu" } do -%>
<div class="navigation">
  <div class="layout--container">
    <nav class="menu-more">
      <ul>
        <li><a href="#">Link one</a></li>
        <li><a href="#">Link two</a></li>
        <li><a href="#">Link three</a></li>
        <li><a href="#">Link four</a></li>
        <li><a href="#">Link five</a></li>
        <li><a href="#">Link six</a></li>
        <li><a href="#">Link seven</a></li>
      </ul>
    </nav>
  </div>
</div>
  <%- end -%>
</div>