<% content_for :title, "Menu with more" %>

<div class="spacing">
  
  <div class="content">
    <p>A menu that fits responsively and moves any over-flowing links in to a "more" menu.</p>

    <p>The library used is called <a href="https://github.com/gijsroge/priority-navigation" target="_blank">Priority Navigation</a> and has it's own documentation and settings.</p>

    <p>Resize your window to see the "more" menu pop in as required.</p>
  </div>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "more-menu" } do -%>
<div class="navigation">
  <nav aria-label="Global Navigation" class="menu-more">
    <ul class="level-1">
      <li><a href="#">Link one</a></li>
      <li><a href="#">Link two</a></li>
      <li><a href="#">Link three</a></li>
      <li><a href="#">Link four</a></li>
      <li><a href="#">Link five</a></li>
      <li><a href="#">Link six</a></li>
      <li><a href="#">Link seven</a></li>
    </ul>
  </nav>
</div>
  <%- end -%>

  <div class="content">
    <p>While it can work with a three-level nested simple-navigation, it's not recommended.</p>
  </div>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "more-menu-tree", no_html: true, ruby: capture { -%>
&lt;div class="page-navigation">
  &lt;nav aria-label="Global Navigation">
    &lt;%= render_navigation({
      context: :styleguide_sample,
      renderer: :ornament_menu,
      level: 1..3,
    }) %>
  &lt;/nav>
&lt;/div>
  <%- } } do -%>
<div class="navigation">
  <nav aria-label="Global Navigation" class="menu-more">
    <%= render_navigation({
      context: :styleguide_sample,
      renderer: :ornament_menu,
      level: 1..3,
      expand_all: true,
      id_namespace: "more-menu-tree",
      toggles: true,
      temporary_toggles: true,
      icons: true,
    }) %>
  </nav>
</div>
  <%- end -%>
</div>