<% content_for :title, "Navigation" %>

<%- content_for :styles do -%>
  <style>
    .layout--header + .navigation {
      border-top: 1px solid #ccc;
    }
  </style>
<%- end -%>

<%- content_for :above_layout do -%>
<div class="navigation">
  <div class="layout--container">
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
          <ul>
            <li>
              <a href="#">History</a>
            </li>
            <li>
              <a href="#">Board Members</a>
            </li>
          </ul>
        </li>
        <li class="navigation--active-item">
          <a href="#">Products</a>
          <ul>
            <li class="navigation--active-item">
              <a href="#">On Sale</a>
            </li>
            <li>
              <a href="#">Other</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<%- end -%>

<div class="content-spacing">
  <p>Just a simple little starter navigation component to quickly drop-in some global navigation when necessary.</p>
  <p>You can see an example of the navigation yielded in <code>:above_layout</code> just under the header.</p>
</div>

<%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "blankstate", ruby: capture { -%>
&lt;div class="navigation">
  &lt;div class="layout--container">
    &lt;nav>
      &lt;%= koi_render_navigation "header_nav", "header_navigation", renderer: :sf_menu, level: 1..2, expand_all: true, dom_class: '' %>
    &lt;/nav>
  &lt;/div>
&lt;/div>
<%- } } do -%>
<%= yield :above_layout -%>
<%- end -%>
