<%- content_for :title, "Nested Link" -%>

<%- content_for :styles do -%>
  <style>
    .nested-link {
      display: block;
      max-width: 300px;
      background: #fff;
      padding: 20px;
    }
  </style>
<%- end -%>

<div class="content-spacing">
  <p>Use nested links when you have a block-level link that has a fake link inside it to act as a hover state.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "nested-link" } do -%>
<a href="#" class="nested-link">
  <p>This text is part of the link, but coloured like regular text.</p>
  <p class="nested-link--target">This is text in the link that acts as the hover state / fake link.</p>
</a>
  <%- end -%>
</div>