<% content_for :title, "Page navigation" %>

<p>By default, Ornament doesn't come with any out-of-the-box in-page navigation styling.</p>



TODO: Sidebar navigation, simple_navigation, koi keys, static pages vs. koi pages, recipes