<% content_for :title, "Pagination" %>

<p>Pagination styles via Kaminari</p>

  <%- content_for :pagination do -%>
<nav class="pagination" role="navigation">

  <span class="first disabled">
    First
  </span>

  <span class="prev disabled">
    Previous
  </span>

  <span class="page current">
    1
  </span>

  <span class="page">
    <a href="#" rel="next" title="Go to page 2">2</a>
  </span>

  <span class="last">
    <a href="#" title="Go to last page">Last</a>
  </span>

  <span class="next">
    <a href="#" rel="next" title="Go to next page">Next</a>
  </span>

</nav>
  <%- end -%>
  <%= yield :pagination -%>

  <pre class="sg-pre prettyprint"><%= render_source(yield :pagination) -%></pre>