<% content_for :title, "Panels" %>

<div class="spacing">

  <div class="panel panel_blue">
    Blue panel
  </div>

  <div class="panel panel_blue panel--padding_large">
    Panel with large, responsive padding
  </div>

  <div class="panel panel_blue panel--padding">
    Panel with responsive padding
  </div>

  <div class="panel panel_blue panel--padding_tight">
    Panel with tight padding
  </div>

  <div class="panel panel_blue panel--padding_tight panel_no-bottom-radius">
    Panel with no bottom radius
  </div>

  <div class="panel panel_blue panel--padding_tight panel_no-top-radius">
    Panel with no top radius
  </div>

</div>
