<% content_for :page_title, "Panels" %>

<div class="spacing">

  <h2 class="heading-two">Panel grid</h2>

  <div>
    <div class="grid__three" data-conform-columns="panels">
      <%- (1..10).each do |i| -%>
        <div class="column">
          <div class="panel__default content-spacing__compressed" data-conform="panels">
            <h2 class="heading-six">Panel</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quo, expedita natus ab. Deserunt error minima.</p>
            <p>
              <a href="#" class="button button__full">Action Button!</a>
            </p>
          </div>
        </div>
      <%- end -%>
    </div>
  </div>

  <h2 class="heading-two clear">Grouped panels</h2>

  <div>
    <div class="grid__three">
      <div class="column">
        <div class="panel">
          <div class="panel--padding">
            This is the top panel.
          </div>
          <div class="panel--padding panel--padding-border">
            This is a second, joined panel.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="panel">
          <div class="panel--padding panel__primary">
            This is a primary panel.
          </div>
          <div class="panel--padding panel--padding-border panel__error">
            This is an error panel.
          </div>
          <div class="panel--padding panel--padding-border panel__warning">
            This is a warning panel.
          </div>
          <div class="panel--padding panel--padding-border panel__success">
            This is a success panel.
          </div>
          <div class="panel--padding panel--padding-border">
            This is a regular panel.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>