<% meta({
  title: "Permissions",
}) %>

<div class="content">
  <p>Permissions can be awkward to deal with, you need to explain to the user why you're requesting these permissions in a clear and context-aware way. Ornament provides some helpers to do just that.</p>
</div>

<hr />

<button data-get-location class="button">Request location</button>