<%- content_for :title, "Toggle Favourite Button" -%>

<div class="content-spacing">

  <p>This is a <code>remote: true</code> button that inherits attributes from it's parent:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "favourite", ruby: capture { -%>
&lt;div data-favourite data-favourite-class="button" data-favourite-active-class="button__secondary" data-favourite-text="Favourite" data-favourite-active-text="Unfavourite"&gt;
  &lt;%= link_to "Favourite", "#", class: "button", data: { remote: true } -%&gt;
&lt;/div&gt;
  <%- } } do -%>
<div data-favourite  
     data-favourite-class="button" 
     data-favourite-active-class="button__secondary" 
     data-favourite-text="Favourite" 
     data-favourite-active-text="Unfavourite" 
>
  <a href="#" class="button" data-remote="true">Favourite</a>
</div>
  <%- end -%>

  <p>Here's an example of a second favourite button on the page that updates with different classes and text values:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "favourite", ruby: capture { -%>
&lt;div data-favourite data-favourite-class="button__confirm__line" data-favourite-active-class="button__cancel__line" data-favourite-text="&lt;3" data-favourite-active-text="&lt;/3"&gt;
  &lt;%= link_to "Favourite", "#", class: "button__confirm__line", data: { remote: true } -%&gt;
&lt;/div&gt;
  <%- } } do -%>
<div data-favourite 
     data-favourite-class="button__confirm__line" 
     data-favourite-active-class="button__cancel__line" 
     data-favourite-text="&lt;3" 
     data-favourite-active-text="&lt;/3" 
>
  <a href="#" class="button__confirm__line" data-remote="true">&lt;3</a>
</div>
  <%- end -%>

</div>

<%- content_for :scripts do -%>
  <script>
    window.isFavourited = false;
  </script>
<%- end -%>