<% content_for :title, "Assorted SASS Mixins" %>

<div class="content-spacing">

  <h2 class="heading-two">App Height</h2>

  <p>
    <code>@include app-height</code><br />
    <code>@include app-height("min")</code><br />
    <code>@include app-height("max")</code>
  </p>

  <p>A drop-in replacement for <code>100vh</code> for cases where vh units aren't exactly representative of the visual viewport.</p>

  <p>Without any arguments, it resolves to the equivelent of <code>height: 100vh</code></p>

  <p>You can switch to min-height or max-height by passing in either min or max as the first and only argument.</p>
  
  <h2 class="heading-two">Background Cover</h2>

  <p>A mixin that sets the background size to cover and background-position to center.</p>

  <h2 class="heading-two">Colour link</h2>

  <h2 class="heading-two">Decorate link</h2>


</div>