<% content_for :title, "SEO" %>

<div class="content-spacing content-lists">

  <%- 
    defaults = [{
      code: "cache_version",
      description: "A simple cache-buster"
    },{
      code: "koi_settings",
      description: "A boolean flag to use the global koi setting fallbacks from Koi's Site Settings section"
    },{
      code: "disable_facebook",
      description: "A boolean flag to stop the output of the opengraph facebook meta tags"
    },{
      code: "disable_twitter",
      description: "A boolean flag to stop the output of the twitter card meta tags"
    },{
      code: "disable_pwa_settings",
      description: "A boolean flag to stop the output of the PWA tags, app icons etc."
    },{
      code: "disable_structured_data",
      description: "A boolean flag to stop the output of the structured data tags"
    },{
      code: "meta_title",
      description: "The default <code>title</code> of all pages."
    },{
      code: "meta_title_postfix",
      description: "An automatically appeneded post-fix for page titles. It is recommended to use the website name. Will result in something like <code>Page Title - Website Name</code>, by default it's the same as <code>meta_title</code>"
    },{
      code: "meta_title_postfix_seperator",
      description: "The seperator between the postfix and the page title"
    },{
      code: "meta_keywords",
      description: "Default meta keywords"
    },{
      code: "meta_description",
      description: "Default meta description"
    },{
      code: "meta_image",
      description: "Default seo image"
    },{
      code: "meta_theme_colour",
      description: "Default PWA theme colour"
    },{
      code: "facebook_app_id",
      description: "Facebook App ID for analytics"
    },{
      code: "twitter_site",
      description: "Global <code>twitter:site</code> meta tag, should represent a username on twitter"
    },{
      code: "twitter_creator",
      description: "Global <code>twitter:creator</code> meta tag"
    }]
  -%>

  <h2 class="heading-two">Defaults</h2>

  <p>You can se the default global settings in the <code>/layouts/_seo.html.erb</code> partial.</p>

  <div class="table-container">
    <table class="table table__bordered table__flush">
      <thead>
        <tr>
          <th width="200">variable</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        <%- defaults.each do |field| -%>
          <tr>
            <td><%= field[:code] -%></td>
            <td><%= raw field[:description] -%></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>

  <hr />

  <h2 class="heading-two">Meta tags and the meta helper</h2>

  <p>The <code>meta</code> rails helper can be used to populate the SEO partial in your view:</p>

  <pre class="sg-pre prettyprint">
meta({
  title: "Page title",
  description: "Custom page description",
  image: "Custom meta share image"
})</pre>

  <p>You can specify custom options for twitter and facebook by using a nested structure like so:</p>

  <pre class="sg-pre prettyprint">
meta({
  title: "Page title",
  description: "Custom page description",
  image: "Custom meta share image",
  facebook: {
    title: "Custom facebook title",
    image: "Custom facebook image"
  }
})</pre>

  <p>The full list of options:</p>

  <pre class="sg-pre prettyprint">
meta({
  title: "Page/Tab/Window title",
  description: "meta description, facebook description, twitter description",
  keywords: "meta keywords",
  image: "meta image, facebook image, twitter image",
  theme_colour: "PWA theme colour",
  facebook: {
    title: "Facebook title",
    description: "Facebook description",
    image: "Facebook image",
    url: "Facebook URL override",
    author: "Facebook author",
    publish_time: "Facebook publish time",
  },
  twitter: {
    title: "Twitter title",
    description: "Twitter description",
    image: "Twitter image",
    image_alt: "Twitter image description for visually impaired",
    url: "Twitter URL override",
    site: "Twitter site override (if seperate from global setting)",
    creator: "Twitter creator override (if seperate from global setting)",
    card: "Twitter card tag, defaults to summary, or summary_large_image if there's an image"
  }
})</pre>

  <hr />

  <h2 class="heading-two">Formatters</h2>

  <h3 class="heading-three">Images</h3>

  <p>Images get passed through to the <code>share_image</code> helper.</p>
  <p>This helper checks to see if it's a string (eg. URL), if it is, it then checks to see if it's an absolute URL and if it isn't will turn it in to one. If it is an absolute URL it will pass the string as-is back to the meta tag like nothing happened.</p>
  <p>If it ISN'T a string, it's likely an image object, something like <code>resource.image</code>.</p>
  <p>It will attempt to crop the image based on the scenario, eg. Default/Facebook will crop to 1200x630, twitter will crop to 800x418.</p>

  <hr />

  <h2 class="heading-two">Page titles</h2>

  <p>Note that Ornament uses a <code>title</code> yield for page titles. This will automatically pull from the <code>meta({ title })</code> option, but can be overridden with <code>content_for :title, "Custom view title"</code> to make the visible title on the page different from the window title.</p>

  <hr />

  <h2 class="heading-two">Structured data</h2>

  <p>Structured data is some JSON you can add to your view to help Google represent your page in search results.</p>

  <p>You can read more about that over at <a href="https://developers.google.com/search/docs/guides/intro-structured-data" target="_blank">the Google Developer Guides</a>.</p>

  <p>To use it in Ornament, you simply need to define some content for the <code>structured_data</code> yield:</p>

  <pre class="sg-pre prettyprint">&lt;% content_for :structured_data do %>
  "@type": "Recipe",
  "name": "Awesome recipe",
  "author": "Katalyst",
  "description": "Just a cool thing to make",
&lt;% end %></pre>

  <p>Note that the structured data yield will automatically add the <code>@context</code> key/value and drop you in to the main object, so the initial wrapping <code>{}</code> aren't needed.</p>

  <p>If you don't define any content for it and the <code>use_structured_data</code> flag is enabled, some very basic structured data will be put on your page.</p>

  <hr />

  <h2 class="heading-two">Koi SEO</h2>

  <p>When the <code>seo</code> module is enabled in Koi it will automatically feed in to the title, keyword and description.</p>

</div>