<% content_for :title, "Service worker and webmanifest" %>

<div class="content-spacing">

  <h2 class="heading-two">Controller and views</h2>

  <p>Ornament generates a <code>service_worker_controller</code> and a view for both the webmanifest and the service worker itself.</p>

  <p>The webmanifest file will append staging and development flags at the start of the application names so that you can differentiate them when adding to homescreen.</p>

  <hr />

  <h2 class="heading-two">Local development</h2>

  <p>Due to local development often resulting in service workers being registered and then continued to be used when switching to a different local rails application, you must opt-in to use local service workers. You can do so by executing the following code in your javascript console:</p>

  <p><code>Ornament.localServiceWorkerOptIn();</code></p>

  <p>To opt-out again later on, simply run this code:</p>

  <p><code>Ornament.localServiceWorkerOptOut();</code></p>

  <p>Once opted-out, you will need to unregister your service workers, which can be done in Chrome under the "application" tab in the developer tools.</p>

  <hr />

  <h2 class="heading-two">Disabling service workers</h2>

  <p>Service workers can be disabled entirely by opening up <code>application.js</code> and disabling the require statement for the service worker code: <code>//= require ornament/register-service-worker</code></p>

</div>