<% content_for :title, "Settings Preview" %>

<div class="spacing-loose">

  <section class="spacing">
    <h2 class="heading-two">Container Width</h2>
    <table class="settings-preview--table">
      <tbody>
        <tr>
          <th scope="row">
            <pre>$container-width</pre>
          </th>
          <td>
            <pre class="settings-preview--container-width--value"></pre>
          </td>
          <td>
            <ul class="settings-preview--container-width--sample">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Breakpoints</h2>
    <table class="settings-preview--table">
      <tbody>
        <tr>
          <th scope="row">
            <pre>$small-breakpoint</pre>
          </th>
          <td>
            <pre class="settings-preview--small-breakpoint--value"></pre>
          </td>
          <td>
            <span class="settings-preview--small-breakpoint--sample"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$large-breakpoint</pre>
          </th>
          <td>
            <pre class="settings-preview--large-breakpoint--value"></pre>
          </td>
          <td>
            <span class="settings-preview--large-breakpoint--sample"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Base Units</h2>
    <table class="settings-preview--table">
      <tbody>
        <tr>
          <th scope="row">
            <pre>$base-font-size</pre>
          </th>
          <td>
            <pre class="settings-preview--base-font-size--value"></pre>
          </td>
          <td rowspan="3">
            <span class="settings-preview--base-font-size--sample">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$base-line-height</pre>
          </th>
          <td>
            <pre class="settings-preview--base-line-height--value"></pre>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$base-line-size</pre>
          </th>
          <td>
            <pre class="settings-preview--base-line-size--value"></pre>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Fonts</h2>
    <table class="settings-preview--table">
      <tbody>
        <tr>
          <th scope="row">
            <pre>$body-font</pre>
          </th>
          <td>
            <pre class="settings-preview--body-font--value"></pre>
          </td>
          <td>
            <span class="settings-preview--body-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$heading-alpha-font</pre>
          </th>
          <td>
            <pre class="settings-preview--heading-alpha-font--value"></pre>
          </td>
          <td>
            <span class="settings-preview--heading-alpha-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$heading-beta-font</pre>
          </th>
          <td>
            <pre class="settings-preview--heading-beta-font--value"></pre>
          </td>
          <td>
            <span class="settings-preview--heading-beta-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$bold-font</pre>
          </th>
          <td>
            <pre class="settings-preview--bold-font--value"></pre>
          </td>
          <td>
            <span class="settings-preview--bold-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$italic-font</pre>
          </th>
          <td>
            <pre class="settings-preview--italic-font--value"></pre>
          </td>
          <td>
            <span class="settings-preview--italic-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Colours</h2>
    <table class="settings-preview--table">
      <tbody>
        <tr>
          <th scope="row">
            <pre>$foreground-color</pre>
          </th>
          <td>
            <pre class="settings-preview--foreground-color--value"></pre>
          </td>
          <td>
            <span class="settings-preview--foreground-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$background-color</pre>
          </th>
          <td>
            <pre class="settings-preview--background-color--value"></pre>
          </td>
          <td>
            <span class="settings-preview--background-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$link-color</pre>
          </th>
          <td>
            <pre class="settings-preview--link-color--value"></pre>
          </td>
          <td>
            <span class="settings-preview--link-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$link-hover-color</pre>
          </th>
          <td>
            <pre class="settings-preview--link-hover-color--value"></pre>
          </td>
          <td>
            <span class="settings-preview--link-hover-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$error-color</pre>
          </th>
          <td>
            <pre class="settings-preview--error-color--value"></pre>
          </td>
          <td>
            <span class="settings-preview--error-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$notice-color</pre>
          </th>
          <td>
            <pre class="settings-preview--notice-color--value"></pre>
          </td>
          <td>
            <span class="settings-preview--notice-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$success-color</pre>
          </th>
          <td>
            <pre class="settings-preview--success-color--value"></pre>
          </td>
          <td>
            <span class="settings-preview--success-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Sizes</h2>
    <table class="settings-preview--table">
      <tbody>
        <tr>
          <th scope="row">
            <pre>$xxxxx-small-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--xxxxx-small-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--xxxxx-small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$xxxx-small-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--xxxx-small-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--xxxx-small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$xxx-small-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--xxx-small-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--xxx-small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$xx-small-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--xx-small-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--xx-small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$x-small-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--x-small-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--x-small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$small-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--small-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$default-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--default-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--default-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$large-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--large-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--large-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$x-large-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--x-large-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--x-large-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$xx-large-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--xx-large-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--xx-large-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$xxx-large-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--xxx-large-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--xxx-large-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$xxxx-large-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--xxxx-large-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--xxxx-large-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$xxxxx-large-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--xxxxx-large-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--xxxxx-large-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <pre>$xxxxxx-large-unit</pre>
          </th>
          <td>
            <pre class="settings-preview--xxxxxx-large-unit--value"></pre>
          </td>
          <td>
            <div class="settings-preview--xxxxxx-large-unit--sample"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

</div>
