<% content_for :title, "Skip Link" %>

<p>
  The skip link is a hidden link to the page's content used for accessibility. The skip link appears in the <code>global</code> template view, just after the opening <code>body</code> tag:
</p>

<pre class="sg-pre prettyprint">&lt;a class="skip-link" href="#main">skip to content&lt;/a></pre>
