<% content_for :title, "Slider" %>

<div class="spacing">

  <section class="spacing-tight">

    <p>Uses FlexSlider. Check out their <a href="http://www.woothemes.com/flexslider/">docs</a> for advanced usage.</p>

    <div class="slider">
      <ul class="slider--slides">
        <li><%= image_tag "http://placehold.it/800x300&text=SLIDE+A", alt: "Example Image" %></li>
        <li><%= image_tag "http://placehold.it/800x300&text=SLIDE+B", alt: "Example Image" %></li>
        <li><%= image_tag "http://placehold.it/800x300&text=SLIDE+C", alt: "Example Image" %></li>
        <li><%= image_tag "http://placehold.it/800x300&text=SLIDE+D", alt: "Example Image" %></li>
      </ul>
    </div>

  </section>

</div>
