<% content_for :title, "Spacing" %>

<div class="split-3">

  <div class="spacing-xx-tight">
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
  </div>

  <div class="spacing-x-tight">
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
  </div>

  <div class="spacing-tight">
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
  </div>

</div>

<div class="spacing">
  <img style="background:red;height:50px;width:100%;"/>
  <img style="background:red;height:50px;width:100%;"/>
  <img style="background:red;height:50px;width:100%;"/>
</div>

<div class="split-3">

  <div class="spacing-loose">
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
  </div>

  <div class="spacing-x-loose">
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
  </div>

  <div class="spacing-xx-loose">
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
    <img style="background:red;height:50px;width:100%;"/>
  </div>

</div>
