<% content_for :title, "Split" %>

<div class="spacing">

  <div class="split">
    <div>
      Lorem ipsum dolor sit amet.
    </div>
    <div>
      Lorem ipsum dolor sit amet.
    </div>
  </div>

  <div class="split-3">
    <div>
      Lorem ipsum dolor sit amet.
    </div>
    <div>
      Lorem ipsum dolor sit amet.
    </div>
    <div>
      Lorem ipsum dolor sit amet.
    </div>
  </div>

</div>
