<% content_for :title, "Styleguide" %>

<div class="spacing-loose">

  <section class="spacing">
    <h2 class="heading-two">Base Units</h2>
    <table class="styleguide--table">
      <tbody>
        <tr>
          <th scope="row">
            <code><pre>$base-font-size</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--base-font-size--value"></pre></code>
          </td>
          <td rowspan="3">
            <span class="styleguide--base-font-size--sample">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$base-line-height</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--base-line-height--value"></pre></code>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$base-line-size</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--base-line-size--value"></pre></code>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Fonts</h2>
    <table class="styleguide--table">
      <tbody>
        <tr>
          <th scope="row">
            <code><pre>$body-font</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--body-font--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--body-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$heading-alpha-font</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--heading-alpha-font--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--heading-alpha-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$heading-beta-font</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--heading-beta-font--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--heading-beta-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$bold-font</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--bold-font--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--bold-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$italic-font</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--italic-font--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--italic-font--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Typefaces</h2>
    <table class="styleguide--table">
      <tbody>
        <tr>
          <th scope="row">
            <code><pre>$body-typeface</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--body-typeface--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--body-typeface--sample">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$heading-one-typeface</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--heading-one-typeface--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--heading-one-typeface--sample">
              Lorem Ipsum Dolor
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$heading-two-typeface</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--heading-two-typeface--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--heading-two-typeface--sample">
              Lorem Ipsum Dolor
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$heading-three-typeface</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--heading-three-typeface--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--heading-three-typeface--sample">
              Lorem Ipsum Dolor
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$heading-four-typeface</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--heading-four-typeface--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--heading-four-typeface--sample">
              Lorem Ipsum Dolor
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$heading-five-typeface</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--heading-five-typeface--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--heading-five-typeface--sample">
              Lorem Ipsum Dolor
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$heading-six-typeface</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--heading-six-typeface--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--heading-six-typeface--sample">
              Lorem Ipsum Dolor
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Colours</h2>
    <table class="styleguide--table">
      <tbody>
        <tr>
          <th scope="row">
            <code><pre>$foreground-color</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--foreground-color--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--foreground-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$background-color</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--background-color--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--background-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$link-color</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--link-color--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--link-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$link-hover-color</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--link-hover-color--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--link-hover-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$error-color</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--error-color--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--error-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$notice-color</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--notice-color--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--notice-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$success-color</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--success-color--value"></pre></code>
          </td>
          <td>
            <span class="styleguide--success-color--sample">
              Lorem ipsum dolor sit amet.
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Sizes</h2>
    <table class="styleguide--table">
      <tbody>
        <tr>
          <th scope="row">
            <code><pre>$sizing-ratio</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--sizing-ratio--value"></pre></code>
          </td>
          <td rowspan="2">
            <div class="styleguide--sizing-ratio--sample">
              <span>ABC</span>
              <span>ABC</span>
              <span>ABC</span>
              <span>ABC</span>
              <span>ABC</span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$sizing-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--sizing-unit--value"></pre></code>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$xxx-small-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--xxx-small-unit--value"></pre></code>
          </td>
          <td>
            <div class="styleguide--xxx-small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$xx-small-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--xx-small-unit--value"></pre></code>
          </td>
          <td>
            <div class="styleguide--xx-small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$x-small-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--x-small-unit--value"></pre></code>
          </td>
          <td>
            <div class="styleguide--x-small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$small-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--small-unit--value"></pre></code>
          </td>
          <td>
            <div class="styleguide--small-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$default-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--default-unit--value"></pre></code>
          </td>
          <td>
            <div class="styleguide--default-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$large-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--large-unit--value"></pre></code>
          </td>
          <td>
            <div class="styleguide--large-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$x-large-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--x-large-unit--value"></pre></code>
          </td>
          <td>
            <div class="styleguide--x-large-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$xx-large-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--xx-large-unit--value"></pre></code>
          </td>
          <td>
            <div class="styleguide--xx-large-unit--sample"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$xxx-large-unit</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--xxx-large-unit--value"></pre></code>
          </td>
          <td>
            <div class="styleguide--xxx-large-unit--sample"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="spacing">
    <h2 class="heading-two">Inputs</h2>
    <table class="styleguide--table">
      <tbody>
        <tr>
          <th scope="row">
            <code><pre>$checkbox-radio-padding</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--checkbox-radio-padding--value"></pre></code>
          </td>
          <td rowspan="9">
            <div class="spacing-tight">
              <div>
                <input type="text" value="Example"/>
              </div>
              <div>
                <input type="password" value="Example"/>
              </div>
              <div>
                <textarea>Example</textarea>
              </div>
              <ul>
                <li>
                  <label><input type="checkbox"/> Example A</label>
                </li>
                <li>
                  <label><input type="checkbox"/> Example B</label>
                </li>
                <li>
                  <label><input type="checkbox"/> Example C</label>
                </li>
              </ul>
              <ul>
                <li>
                  <label><input type="radio" name="example"/> Example A</label>
                </li>
                <li>
                  <label><input type="radio" name="example"/> Example B</label>
                </li>
                <li>
                  <label><input type="radio" name="example"/> Example C</label>
                </li>
              </ul>
              <div>
                <select>
                  <option>Example A</option>
                  <option>Example B</option>
                  <option>Example C</option>
                </select>
              </div>
              <div>
                <input type="submit" />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$input-background</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--input-background--value"></pre></code>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$input-border</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--input-border--value"></pre></code>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$input-border-radius</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--input-border-radius--value"></pre></code>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$input-color</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--input-color--value"></pre></code>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$input-typeface</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--input-typeface--value"></pre></code>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$input-padding</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--input-padding--value"></pre></code>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$input-width</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--input-width--value"></pre></code>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <code><pre>$textarea-height</pre></code>
          </th>
          <td>
            <code><pre class="styleguide--textarea-height--value"></pre></code>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

</div>
