<% content_for :title, "Table" %>

<div class="spacing">

  <table class="table">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>

  <table class="table table-flush">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>

  <table class="table table-flush table-ruled">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>

  <table class="table table-flush table-ruled table-full-width">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>

  <table class="table table-flush table-ruled table-full-width table-small">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>

</div>
