<% content_for :title, "Table" %>

<div class="spacing">

  <h2 class="heading-two">Basic, unstyled table</h2>

  <table class="table">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>

  <h2 class="heading-two">Flush table</h2>

  <p>Add <code>table-flush</code> class to table to make it flush on all sides.</p>

  <table class="table table-flush">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>

  <h2 class="heading-two">Ruled table</h2>

  <p>Add <code>table-ruled</code> class to table, can be combined with <code>table-flush</code> to create a flush, ruled table.</p>

  <table class="table table-flush table-ruled">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>

  <h2 class="heading-two">Small table</h2>

  <p><code>table-small</code> can be added to the table to reduce the padding.</p>

  <table class="table table-flush table-ruled table-small">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>

</div>
