<% content_for :title, "Table" %>

<div class="spacing">

  <h2 class="heading-two">Basic, unstyled table</h2>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "table-basic" } do -%>
<table class="table">
  <tr>
    <th>First Name</th>
    <td>Jane</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>Doe</td>
  </tr>
  <tr>
    <th>DOB</th>
    <td>25/06/1982</td>
  </tr>
</table>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Flush table</h2>

  <p>Add <code>table-flush</code> class to table to make it flush on all sides.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "table-1" } do -%>
<table class="table table-flush">
  <tr>
    <th>First Name</th>
    <td>Jane</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>Doe</td>
  </tr>
  <tr>
    <th>DOB</th>
    <td>25/06/1982</td>
  </tr>
</table>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Ruled table</h2>

  <p>Add <code>table-ruled</code> class to table, can be combined with <code>table-flush</code> to create a flush, ruled table.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "table-2" } do -%>
<table class="table table-flush table-ruled">
  <tr>
    <th>First Name</th>
    <td>Jane</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>Doe</td>
  </tr>
  <tr>
    <th>DOB</th>
    <td>25/06/1982</td>
  </tr>
</table>
  <%- end -%>

  <hr />

  <h2 class="heading-two">Scrollable Table</h2>

  <p>Wrap your table in a <code>.table--container</code> element.</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "table-3" } do -%>
<div class="table-container">
  <table class="table table-flush table-ruled" style="width: 5000px">
    <tr>
      <th>First Name</th>
      <td>Jane</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Doe</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td>25/06/1982</td>
    </tr>
  </table>
</div>
  <%- end -%>

</div>
