<% content_for :title, "Tabs" %>

<div class="spacing">

  <section class="spacing-tight">

    <h2 class="heading-two">Horizontal Tabs</h2>

    <div class="tabs">
      <nav class="tabs-links">
        <ul>
          <li><a href="#tab1" class="tabs--link" data-tab-for="tab1">Tab #1</a></li>
          <li><a href="#tab2" class="tabs--link">Tab #2</a></li>
          <li><a href="#tab3" class="tabs--link">Tab #3</a></li>
        </ul>
      </nav>
      <div>
        <div class="tabs--pane" data-tab-id="tab1">
          Tab #1
        </div>
        <div class="tabs--pane" data-tab-id="tab2">
          Tab #2
        </div>
        <div class="tabs--pane" data-tab-id="tab3">
          Tab #3
        </div>
      </div>
    </div>

    <pre class="prettyprint">
&lt;div class="tabs">
  &lt;nav class="tabs-links">
    &lt;ul>
      &lt;li>&lt;a href="#tab1" class="tabs--link" data-tab-for="tab1">Tab #1&lt;/a>&lt;/li>
      &lt;li>&lt;a href="#tab2" class="tabs--link" data-tab-for="tab2">Tab #2&lt;/a>&lt;/li>
      &lt;li>&lt;a href="#tab3" class="tabs--link" data-tab-for="tab3">Tab #3&lt;/a>&lt;/li>
    &lt;/ul>
  &lt;/nav>
  &lt;div>
    &lt;div class="tabs--pane" data-tab-id="tab1">
      Tab #1
    &lt;/div>
    &lt;div class="tabs--pane" data-tab-id="tab2">
      Tab #2
    &lt;/div>
    &lt;div class="tabs--pane" data-tab-id="tab3">
      Tab #3
    &lt;/div>
  &lt;/div>
&lt;/div></pre>

  </section>

</div>
