<% content_for :title, "Tooltip" %>

<div class="spacing">

  <section class="spacing-tight">
    <p>
      <a class="tooltip" title="Tooltip 1">Simple Tooltip</a>
    </p>
    <p>
      <a class="tooltip tooltip-toggle" title="Tooltip 2">Simple Tooltip with Toggle</a>
    </p>
    <p>
      <a class="tooltip" href="#footnote-1">Complex Tooltip</a>
    </p>
    <p>
      <a class="tooltip tooltip-toggle" href="#footnote-2">Complex Tooltip with Toggle</a>
    </p>
    <div id="footnote-1">
      <p>Tooltip 3</p>
    </div>
    <div id="footnote-2">
      <p>Tooltip 4</p>
    </div>
  </section>

</div>
