<%- content_for :title, "Lists" -%>

<div class="content-spacing">
  <p>If you have a spot where lists need to look like lists, you can do so by either adding the <code>content-lists</code> to the wrapper, or the same class directly on the <code>ul/ol</code>:</p>
</div>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "content-lists" } do -%>
<div class="content-lists">
  <ul>
    <li>Lorem </li>
    <li>ipsum </li>
    <li>dolor 
      <ul>
        <li>Lorem </li>
        <li>ipsum </li>
        <li>dolor </li>
        <li>sit </li>
        <li>amet</li>
      </ul>
    </li>
    <li>sit </li>
    <li>amet</li>
  </ul>
  <ol>
    <li>Lorem </li>
    <li>ipsum </li>
    <li>dolor 
      <ul>
        <li>Lorem </li>
        <li>ipsum </li>
        <li>dolor </li>
        <li>sit </li>
        <li>amet</li>
      </ul>
    </li>
    <li>sit </li>
    <li>amet</li>
  </ol>
</div>
  <%- end -%>

  <p><code>content-lists</code> also supports a few <code>type</code> attributes on lists:</p>

  <%= render layout: "/layouts/styleguide/styleguide_feature", locals: { id: "content-lists-inline" } do -%>
<div class="content-lists">
  <ol type="a">
    <li>Lorem </li>
    <li>ipsum </li>
    <li>dolor</li>
    <li>sit </li>
    <li>amet</li>
  </ol>
  <ol type="aup">
    <li>Lorem </li>
    <li>ipsum </li>
    <li>dolor</li>
    <li>sit </li>
    <li>amet</li>
  </ol>
  <ol type="i">
    <li>Lorem </li>
    <li>ipsum </li>
    <li>dolor</li>
    <li>sit </li>
    <li>amet</li>
  </ol>
  <ol type="iup">
    <li>Lorem </li>
    <li>ipsum </li>
    <li>dolor</li>
    <li>sit </li>
    <li>amet</li>
  </ol>
  <ul type="1">
    <li>Lorem </li>
    <li>ipsum </li>
    <li>dolor</li>
    <li>sit </li>
    <li>amet</li>
  </ul>
</div>
  <%- end -%>
