<% content_for :title, "Vertre - Vertically Responsive" %>
<%- content_for :styles do -%>
  <style>
    .example-1 {
      width: 42%;
      border: 1px solid #000;
    }
  </style>
<%- end -%>

<div class="content-spacing content-lists">

  <p>Vertre is a method of vertically centring an image inside a fluid box.</p>

  <h2 class="heading-two">Example</h2>

  <p>This example has a width of 42%</p>

  <div class="vertre example-1">
    <div class="vertre--inner">
      <img src="http://placehold.it/200x200" />
    </div>
  </div>

  <pre class="prettyprint">&lt;div class="vertre example-1">
  &lt;div class="vertre--inner">
    &lt;img src="http://placehold.it/200x200" />
  &lt;/div>
&lt;/div></pre>

</div>