<% content_for :title, "Add to Home Screen (A2HS)" %>

<div class="content-spacing">

  <p>By default, the <a href="https://developers.google.com/web/fundamentals/app-install-banners/" target="_blank">Add to Home Screen</a> functionality of modern browsers is enabled, along with some very basic UI for it.</p>
  <p>To disable the feature, open up <code>register-service-worker.js</code> and disable the flag <code>showA2HSUI</code>, and make sure you remove the associated markup.</p>

  <p>Any element with <code>data-a2hs</code> will be displayed when the <code>beforeinstallprompt</code> event is fired.</p>
  <p>Any element that has <code>data-a2hs-button</code> will act as a button that triggers the install prompt event.</p>

  <pre class="prettyprint sg-pre">&lt;div class="a2hs-button spacing-xxx-tight" data-a2hs style="display: none;">
  &lt;p>Hey check this out!&lt;/p>
  &lt;button class="button" data-a2hs-button>Add to homescreen&lt;/button>
&lt;/div></pre>

</div>