<% content_for :global do %>
  <div class="spacing-loose">
    <h1>
      <%= yield :title %>
    </h1>
    <div>
      <%= content_for?(:application) ? yield(:application) : yield %>
    </div>
  </div>
<% end %>

<%= render :file => "layouts/global" %>
