<% content_for :global do %>
  <% if content_for? :title %>
    <h1 class="heading-one">
      <%= yield :title %>
    </h1>
  <% end %>
  <%= content_for?(:application) ? yield(:application) : yield %>
<% end %>

<%= render :file => "layouts/global" %>
