<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title><%= Rails.application.class.name.split("::").first.humanize %></title>
    <%%= stylesheet_link_tag "application", :media => "all" %>
    <%%= javascript_include_tag "application" %>
    <%- if options.ie_support? -%>
    <!--[if lt IE 9]><%%= javascript_include_tag "IE9.js" %><![endif]-->
    <%- end -%>
    <%%= csrf_meta_tags %>
  </head>
  <body>
    <div class="layout">
      <div class="layout--content rhythm">
        <header class="header">
          <div class="layout--container">
            <h1 class="header--title">
              <%%= image_tag "http://placehold.it/200x100&text=LOGO", alt: "Logo" %>
            </h1>
          </div>
        </header>
        <section class="layout--container rhythm">
          <%%= content_for?(:global) ? yield(:global) : yield %>
        </section>
      </div>
      <footer class="layout--footer footer">
        <div class="layout--container">
          footer
        </div>
      </footer>
    </div>
  </body>
</html>
