<%- title ||= false -%>

<div class="lightbox--ajax-content content-spacing">
  <div class="lightbox--body">
    <%- if title -%>
      <h2 class="heading-two lightbox--heading"><%= title -%></h2>
    <%- end -%>
    <div class="lightbox--content  content-spacing">
      <%= yield -%>
    </div>
  </div>
</div>