$spacing: (
  spacing-xxxxx-tight:      $xxxxx-small-unit,
  spacing-xxxx-tight:       $xxxx-small-unit,
  spacing-xxx-tight:        $xxx-small-unit,
  spacing-xx-tight:         $xx-small-unit,
  spacing-x-tight:          $x-small-unit,
  spacing-tight:            $small-unit,
  spacing:                  $default-unit,
  spacing-loose:            $large-unit,
  spacing-x-loose:          $x-large-unit,
  spacing-xx-loose:         $xx-large-unit,
  spacing-xxx-loose:        $xxx-large-unit,
  spacing-xxxx-loose:       $xxxx-large-unit,
  spacing-xxxxx-loose:      $xxxxx-large-unit,
  spacing-xxxxxx-loose:     $xxxxxx-large-unit,
  spacing-xxxxxxx-loose:    $xxxxxxx-large-unit
);

@mixin spacing($unit) {
  > * + * {
    margin-top: $unit;
  }
}

@each $className, $unit in $spacing {
  .#{$className} {
    @include spacing($unit);
  }
}
