<%

  # maximum amount of files uploaded to this field
  max_count ||= "1"

  # max file size of each file
  max_size ||= "5"

  # allowed file types
  types ||= "jpg,jpeg,gif"

  # over-rideable html class for input file and dropzone
  html_class ||= "file-upload"

  # if there's an existing image
  if resource.send(attr).nil? || resource.new_record?
    existing_image = ""
  else
    existing_image = resource.send(attr).url
  end

%>

<div class="input upload optional <%= attr -%>">
  <%= f.label(attr) -%>
  <div class="form--file-upload--hint-position"></div>
  <%= f.error(attr) -%>

  <div class="form--file-upload">
    <div>
      <%= f.file_field(attr, class: html_class, data: {file_max_count: max_count, file_max_size: max_size, file_types: types, file_existing_image: existing_image, field: "hidden_for_#{attr}" }) %>
    </div>
  </div>
</div>