$default-pinned-fotter-height: 100px !default;

@mixin pinned-footer-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

@mixin pinned-footer-content($height: $default-pinned-fotter-height) {
  margin-bottom: $height;
  width: 100%;
}

@mixin pinned-footer($height: $default-pinned-fotter-height) {
  bottom: 0;
  height: $height;
  left: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
}
