<div class="error-page">

  <h1 class="heading-two">Whoops!</h1>

  <div class="error--content content">
    <p>
      <strong>This page has gone missing.</strong><br />
      You've got here by trying to visit a page that no longer exists.
    </p>
  </div>

</div>
