<div class="error-page">

  <h1 class="heading-two">Error!</h1>

  <div class="error--content content">
    <p>
      <strong>We’ve encountered an error! </strong><br />
      This was our fault and we've got our best team looking into it.
    </p>
  </div>

</div>
