// =========================================================================
// Sizing Units
// =========================================================================

$xxxxxx-small-unit:     .25rem;
$xxxxx-small-unit:      .5rem;
$xxxx-small-unit:       .75rem;
$xxx-small-unit:        1rem;
$xx-small-unit:         1.25rem;
$x-small-unit:          1.5rem;
$small-unit:            1.75rem;
$default-unit:          2rem;
$large-unit:            2.25rem;
$x-large-unit:          2.5rem;
$xx-large-unit:         2.75rem;
$xxx-large-unit:        3rem;
$xxxx-large-unit:       3.5rem;
$xxxxx-large-unit:      4rem;
$xxxxxx-large-unit:     4.5rem;
$xxxxxxx-large-unit:    5rem;

// =========================================================================
// Typogrpahy units
// =========================================================================

$x-small-font-size:   .75rem;
$small-font-size:     .875rem;
$base-font-size:      1rem;
$large-font-size:     1.125rem;
$base-line-height:    1.5;
$base-line-size:      $base-font-size * $base-line-height;

// =========================================================================
// Layout and container settings
// =========================================================================

$fixed-footer: true;

$layout-mobile-tray-width:  250px;
$layout-animation-duration: 0.5s;

$container-width: 1072px;
$container-percentage: 92%;
$container-padding: $default-unit;
$container-padding-mobile: $xxx-small-unit;

// =========================================================================
// Misc units
// =========================================================================

$border-radius:   4px;
$button-height:   44px;

$panel-padding:         $xx-small-unit;
$panel-padding-small:   $xxx-small-unit;
$panel-spacing:         $xx-small-unit;

@function convert-px-to-rem($px) {
  $base-rem: 16px;
  @return $px / $base-rem;
}

// =========================================================================
// Breakpoints
// =========================================================================

$breakpoint-typography: 480px;
$breakpoint-large: 1080px;
$breakpoint-medium: 935px;
$breakpoint-small: 780px;
$breakpoint-tiny: 620px;

// Header breakpoint
// If changing, remember to update the JS variable in defaults.js
$breakpoint-header: 990px;

$site-breakpoints:
  (tiny, $breakpoint-tiny),
  (small, $breakpoint-small),
  (medium, $breakpoint-medium),
  (large, $breakpoint-large)
;

// =========================================================================
// Gutters
// =========================================================================

$desktop-gutters: $x-small-unit;

// $large-gutter:    $large-unit;
// $medium-gutter:   $large-unit;
// $small-gutter:    $large-unit;
// $tiny-gutter:     $default-unit;

$site-gutters:
  // (large, $large-gutter),
  // (medium, $tiny-gutter),
  false
;

// =========================================================================
// Colours 
// =========================================================================

// Default helper colours
$black: #000;
$white: #fff;
$grey: #bbb;

// Brand colours
$primary-color: #4b9dd0;
$secondary-color: #252525;
$passive-color: #eee;

// Page background and default body typogrpahy colour
$foreground-color: #222;
$background-color: #fff;

// Links
$link-color: blue;
$link-hover-color: false;

// Lightbox and mobile menu overlays
$overlay-color: #222;

// Panels and general application colours
$error-color: #990000;
$error-button: #d83232;
$error-background: #ffcccc;
$alert-color: #856404;
$alert-background: #ffffcc;
$notice-color: #236cd9;
$notice-background: #cbdcf6;
$success-color: #155724;
$success-button: #33ce57;
$success-background: #d4edda;


// Social network colours
$facebook: #3b5998;
$twitter: #44ccf6;
$linkedin: #1b86bd;
$instagram: #d93175;

// Dividers
$divider-color: $passive-color;
$divider: 1px solid $divider-color;
$panel-border: $divider;

// =========================================================================
// Input settings
// =========================================================================

$input-border-color:         #c5cbd4;
$input-border-focus-color:   darken($input-border-color,20);
$input-background:           $white;
$input-border:               1px solid $input-border-color;
$input-border-radius:        $border-radius;
$input-color:                $foreground-color;
$input-width:                100%;
$textarea-height:            $base-line-size*5;
$checkbox-radio-padding:     -0.2em 0 0 0.2em;

// =========================================================================
// Easing timings
// =========================================================================

$ease-timing: .2s;

// Default easing timings, swap keywords as variables 
// Overwrite with cubic-beziers if desired 
// https://css-tricks.com/ease-out-in-ease-in-out/
// https://matthewlein.com/tools/ceaser
$ease-in: ease-out;
$ease-out: ease-in;
