////////////////////////////////////////////////////////////////////////////////
//
// This file contains common variables used by Ornament.
//
////////////////////////////////////////////////////////////////////////////////

// Spinner template:
// http://spiffygif.com/?rotate=2&color=ffffff&corners=0.9&lines=7&bgColor=0082c8&trail=76&length=0&radius=5&width=5&halo=true



// BASE UNITS
//
//
// The base font size should be set in pixels.
//
// The base line height should be unitless (ratio of line height to font size).
//

$base-pixel:          16px;

$small-font-size:     0.8em;
$base-font-size:      $base-pixel;
$large-font-size:     1.1em;
$base-line-height:    1.5;
$line-height-small:   1.4;
$line-height-tiny:    1.2;
$line-height-mucura:  1.4;
$base-line-size:      $base-font-size * $base-line-height;

$font-size-small: 0.9em;
$font-size-large: 1.1em;


// SIZES
//
//
// Setup a sizing units.
//

$xx-small-unit: 0.7em;
$x-small-unit: 0.8em;
$small-unit: 0.9em;
$default-unit: 1em;
$large-unit: 1.1em;
$x-large-unit: 1.2em;
$xx-large-unit: 1.3em;
$xxx-large-unit: 1.4em;
$xxxx-large-unit: 1.5em;
$xxxxx-large-unit: 1.6em;

$border-radius:   4px;
$button-height:   44px;

$panel-padding-large:   $x-large-unit;
$panel-padding:         $large-unit;
$panel-padding-small:   $default-unit;
$panel-padding-tiny:    $x-small-unit;

// CONTAINER WIDTH
//
// Width of the container (desktop only).
//

$container-width: 1072px;
$container-percentage: 92%;


// BREAKPOINTS
//
// Desktop first breakpoints. Used in conjunction with media-query util. (Breakpoint keyword, Desktop first breakpoint)
//

$breakpoint-large: 1080px;
$breakpoint-medium: 935px;
$breakpoint-small: 780px;
$breakpoint-tiny: 620px;

$site-breakpoints:
  (tiny, $breakpoint-tiny),
  (small, $breakpoint-small),
  (medium, $breakpoint-medium),
  (large, $breakpoint-large)
;

// GUTTERS
//
// Site gutters to be used at desktop and specific breakpoints. Used within grids util. (Breakpoint keyword, Gutter size)
//

$desktop-gutters: $large-unit;

$large-gutter:    $large-unit;
$medium-gutter:   $large-unit;
$small-gutter:    $large-unit;
$tiny-gutter:     $default-unit;

$site-gutters:
  (large, $large-gutter),
  (medium, $medium-gutter),
  (small, $small-gutter),
  (tiny, $tiny-gutter)
;

// COLORS
//
// Default colors.
//

$brand-blue: #0082c8;

$foreground-color: #222;
$background-color: #fff;
$link-color: blue;
$link-hover-color: false;
$error-color: #990000;
$error-background: red;
$notice-color: #ff6600;
$success-color: $brand-green;
$input-border-color: #c5cbd4;

$white: #fff;
$facebook: #5e78aa;
$grey: #bbb;

$image-border: 0;

// INPUTS
//
// Input styling.
//

$checkbox-radio-padding:  -0.2em 0 0 0.2em;
$input-background:        #ffffff;
$input-border:            1px solid $input-border-color;
$input-border-radius:     0;
$input-color:             $foreground-color;
$input-padding:           0.3em 0.2em 0.1em;
$input-width:             100%;
$textarea-height:         $base-line-size*5;