////////////////////////////////////////////////////////////////////////////////
//
// This file contains common variables used by Ornament.
//
////////////////////////////////////////////////////////////////////////////////



// FONTS
//
//
// The default fonts.
//

$heading-font:  (Helvetica, sans-serif)  normal  bold;
$body-font:     (Helvetica, sans-serif)  normal  normal;
$bold-font:     (Helvetica, sans-serif)  normal  bold;
$italic-font:   (Helvetica, sans-serif)  italic  normal;



// TYPOGRAPHY
//
//
// The base font size should be set in pixels.
//
// The base line height should be unitless (ratio of line height to font size).
//

$base-font-size:    16px;
$base-line-height:  1.5;
$line-space:        $base-font-size * $base-line-height;



// COLORS
//
// Default colors.
//

$foreground-color:  #333333;
$background-color:  #ffffff;
$link-color:        #00aad5;
$link-hover-color:  false;
$error-color:       #990000;
$notice-color:      #999900;
$success-color:     #009900;



// SPACES
//
//
// Setup a spacing system.
//

$spacing-ratio: 1.61803398875; // golden ratio
$spacing-unit:  $line-space;

$xxx-small-space: $spacing-unit * pow($spacing-ratio, -4);
$xx-small-space:  $spacing-unit * pow($spacing-ratio, -3);
$x-small-space:   $spacing-unit * pow($spacing-ratio, -2);
$small-space:     $spacing-unit * pow($spacing-ratio, -1);
$space:           $spacing-unit * pow($spacing-ratio,  0);
$large-space:     $spacing-unit * pow($spacing-ratio,  1);
$x-large-space:   $spacing-unit * pow($spacing-ratio,  2);
$xx-large-space:  $spacing-unit * pow($spacing-ratio,  3);
$xxx-large-space: $spacing-unit * pow($spacing-ratio,  4);



// INPUTS
//
// Input styling.
//

$input-background:    #ffffff;
$input-border:        1px solid #999;
$input-border-radius: 0;
$input-color:         #333333;
$input-padding:       0.2em;
$input-width:         100%;
$textarea-height:     $line-space*5;



// DEBUG
//

$debug: false;


