// =========================================================================
// Basic button classes 
// =========================================================================

.button {
  @include button-base;
  @include button-primary;
}

.button__inactive {
  @include button-base;
  @include button-background($grey);
}

// =========================================================================
// Coloured buttons
// =========================================================================

.button__secondary {
  @include button-base;
  @include button-background($secondary-color);
}
.button__confirm {
  @include button-base;
  @include button-background($success-button);
}
.button__cancel {
  @include button-base;
  @include button-background($error-button);
}

// =========================================================================
// Button states
// =========================================================================

.button__depressed {
  @include button-depressed;
}

// =========================================================================
// Lined buttons 
// =========================================================================

.button__line {
  @include button-base(true);
  @include button-line($primary-color, false, $primary-color);
}
.button__secondary__line {
  @include button-base(true);
  @include button-line($secondary-color, false, $secondary-color);
}
.button__confirm__line {
  @include button-base(true);
  @include button-line($success-button, false, $success-button);
}
.button__cancel__line {
  @include button-base(true);
  @include button-line($error-button, false, $error-button);
}

// =========================================================================
// Disabled buttons
// =========================================================================

.button__disabled {
  @include button-base;
}

.button__disabled,
.button[disabled] {
  @include button-background($grey,$grey);
  color: $white;
  cursor: not-allowed;
}

// =========================================================================
// Button variations 
// =========================================================================

.button__full {
  text-align: center;
  width: 100%;
}

// =========================================================================
// Button icons 
// =========================================================================

.button__icon-right {
  @include button-with-icon;
}

.button__icon-left {
  @include button-with-icon(left);
}

.button__icon {
  @include icon-block(48px);
  @include display-inline-flex;
  padding: 0;
  vertical-align: middle;

  &.button__small {
    @include icon-block(40px);
    @include display-inline-flex;
  }
}

// =========================================================================
// Grouped buttons 
// =========================================================================

.button-group {
  @include pie-clearfix;

  // Take advantage of the fact that buttons all extend the 
  // .button class here
  .button-object {
    @include border-radius(0);
    float: left;
  }

  .button-object + .button-object {
    margin-left: 1px;
  }

  .button-object:first-child {
    @include border-top-left-radius($border-radius);
    @include border-bottom-left-radius($border-radius);
  }

  .button-object:last-child {
    @include border-top-right-radius($border-radius);
    @include border-bottom-right-radius($border-radius);
  }
}

// =========================================================================
// Button sets 
// =========================================================================

.button-set {
  margin: $xxxx-small-unit * -0.5;
  @include display-flex;
  @include flex-wrap;

  > div {
    padding: $xxxx-small-unit * 0.5;
  }
}

.button-set__center {
  @include justify-content(center);
}

// =========================================================================
// Split-side buttons 
// =========================================================================

.button-sides {
  @include pie-clearfix;

  .button__back {
    float: left;
  }
  .button__forward {
    float: right;
  }
}
