.card {
  background: $white;
  @include border-radius($border-radius);
  border: $divider;
  overflow: hidden;
}

a.card {
  display: block;
  @include nested-link;
}

.card--image {
  position: relative;
}

.card--image img {
  display: block;
  width: 100%;
}

.card--image__cover {
  @include background-cover;
  position: relative;
  padding-bottom: ratio(100, 100);
}

.card--badge {
  position: absolute;
  top: $xxxxx-small-unit;
  left: 0;
  padding: 4px $panel-padding;
  background: $primary-color;
  color: $white;
  font-size: $small-font-size;
  max-width: 100%;
}

.card--content {
  padding: $panel-padding;
}

.card--footer {
  padding: $panel-padding-small $panel-padding;
  border-top: $divider;
}
