// =========================================================================
// Flash Panel
// =========================================================================

.flash {
  padding-top: $panel-padding;
  padding-bottom: $panel-padding;
}

// =========================================================================
// Inner flash panel layout
// =========================================================================

.flash--inner {
  @include display-flex;
  @include align-items(center);
}

.flash--content {
  @include flex(1 1 auto);
}

.flash--close {
  margin-left: auto;

  button, svg {
    display: block;
  }
}

// =========================================================================
// Fixed variation 
// =========================================================================

.flash__fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform .2s;
}
