.header {
  background: #ccc;
  padding-top: $xx-small-unit;
  padding-bottom: $xx-small-unit;
  @include pie-clearfix;
  
  // Fix for choppy fixed positioning after a CSS transition has
  // happened in Chrome :/
  // http://stackoverflow.com/questions/20268962/fixed-attachment-background-image-flicker-disappear-in-chrome-when-coupled-with
  -webkit-transform: translate3d(0,0,0);
}

.header--menu {
  overflow: visible;
  float: right;

  @include media-query($breakpoint-header,min) {
    display: none;
  }
}

// Sticky Header
.sticky-header {

  .csspositionsticky &.sticky-header__stuck {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  &.sticky-header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: auto;
  }
}