$heading-with-button-breakpoint: 800px;

.heading-with-button {
  @include media-query($heading-with-button-breakpoint, min) {
    display: flex;
    align-items: center;
  }
}

.heading-with-button--heading {
  @include media-query($heading-with-button-breakpoint, min) {
    padding-right: $site-gutters;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.heading-with-button--description {
  margin-top: $xxxx-small-unit;
}


.heading-with-button--button {
  @include media-query($heading-with-button-breakpoint) {
    margin-top: $xxxx-small-unit;
  }

  @include media-query($heading-with-button-breakpoint, min) {
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
