$layout-background:             $background-color;
$layout-breakpoint:             $breakpoint-header;
$layout-main-padding-top:       $large-unit;
$layout-main-padding-bottom:    $large-unit;

html {
  overflow-y: scroll;

  &.html__tray-open {
    overflow-y: hidden;
  }
}

body {
  background: $background-color;
}

body.modal-open {
  overflow: hidden;
}

.layout {
  @include app-height("min");
}

.layout--page {
  background: $layout-background;
  min-height: 100%;
  overflow: hidden;
}

.layout--container {
  @include container-percentage;
}

.layout--main {
  padding-top: $layout-main-padding-top;
  padding-bottom: $layout-main-padding-bottom;
}

// =========================================================================
// Fullscreen flexbox layout
// =========================================================================

.layout,
.layout--page,
.layout--content {
  @if $fixed-footer == true {
    display: flex;
    flex-direction: column;
  }
}

.layout--main,
.layout--body,
.layout--content,
.layout--page {
  @if $fixed-footer == true {
    flex-grow: 1;
  }
}