$navigation-menu-width: 200px;
$navigation-padding-y: $xxxx-small-unit;
$navigation-padding-x: $xxx-small-unit;
$navigation-hover-bg: rgba($black, .05);

// =========================================================================
// Navigation bar
// =========================================================================

.navigation {
  
}

// =========================================================================
// First level
// =========================================================================

.navigation nav {

  > ul {
    @include display-flex;
    @include flex-wrap;
  }

  > ul > li > a,
  > ul > li > button,
  .priority-nav__dropdown-toggle {
    padding: $navigation-padding-y $navigation-padding-x;
    // @include color-link($white, $white);
    // @include decorate-link(none, none);
    transition: .2s background;

    &:hover,
    &:focus {
      background-color: $navigation-hover-bg;
    }
  }

  // Blockerising all link elements
  a, button {
    display: block;
    > span {
      display: block;
    }
  }
}

// =========================================================================
// First level with children
// =========================================================================

.navigation .has-children {
  position: relative;

  button {
    position: relative;
  }

  svg {
    position: relative;
    width: 7px;
    height: 10px;
    transform: rotateZ(90deg);
    transition: transform .2s;
    margin-left: $xxxxx-small-unit;
  }

  button.active svg {
    transform: rotate(270deg);
  }
  
  .icon--fill {
    fill: $grey;
    transition: fill .2s;
  }

  button:hover .icon--fill,
  button:focus .icon--fill {
    fill: $link-hover-color;
  }
}

.navigation__simple li {
  position: relative;
}

// =========================================================================
// First level split-parent links
// =========================================================================

.simple-navigation--split-parent {
  display: flex;

  > a,
  > button {
    padding-top: $navigation-padding-y;
    padding-bottom: $navigation-padding-y;

    &:hover,
    &:focus {
      background-color: $navigation-hover-bg;
    }
  }

  > a {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: $navigation-padding-x;
    padding-right: $navigation-padding-x * .5;
  }

  .simple-navigation--nested & > button {
    width: auto;
  }

  > button {
    padding-left: $navigation-padding-x * .5;
    padding-right: $navigation-padding-x;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: 1em * -.5;
      height: 1em;
      width: 1px;
      background: $divider-color;
    }

    .navigation .has-children & svg {
      margin-left: 0;
    }
  }
}

// =========================================================================
// Second level
// =========================================================================

.navigation nav > .nav__dropdown-wrapper > ul.nav__dropdown,
.navigation__simple ul ul,
.simple-navigation--nested {
  display: none;
  position: absolute;
  background: $white;
  border: $divider;
  top: 100%;
  left: 0;
  width: $navigation-menu-width;
  z-index: 200;
  box-shadow: 0 10px 40px rgba($black, .2);

  li {
    position: relative;
  }

  li + li {
    border-top: $divider;
  }

  li > button, 
  li > a, 
  li > span {
    padding: $navigation-padding-y $navigation-padding-x;
  }

  // Second / third-level hover state
  li > button,
  li > a {
    &:hover,
    &:focus {
      background-color: $navigation-hover-bg;
    }
  }

  // Second / third-level active state
  .selected {
    a, button, span {
      @include color-link($foreground-color, $foreground-color);
    }
  }

  // Fix buttons not full-width even with display block
  button {
    width: 100%;
  }

  // Arrow rotation and position
  .has-children {
    button {
      padding-right: $xx-small-unit;
    }

    svg {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: $xxxxx-small-unit;
      transform: rotate(0deg);
    }
    button.active svg {
      transform: rotate(180deg);
    }
  }

  // Ornament nav renderer without-toggles class allows hover
  // to show subnavigation
  .simple-navigation__without-toggles li:hover > & {
    display: block;
  }
}

// Menu with more / last items should go to the left rather
// than right
li:last-child .simple-navigation--nested,
.navigation nav > .nav__dropdown-wrapper > ul.nav__dropdown {
  left: auto;
  right: 0;
}

// Hide nested elements by default
.simple-navigation__with-toggles .simple-navigation--nested {
  display: block;
  height: 0;
  padding: 0;
}

// navigation-simple hover states to show subnavigation
.navigation__simple li:hover ul {
  display: block;
}

.navigation nav > .nav__dropdown-wrapper ul a,
.navigation nav > ul ul a,
.navigation nav > ul ul button {
  // @include color-link($white, $white);
  // @include decorate-link(none, underline);
}

// =========================================================================
// Third level
// =========================================================================

.navigation nav > .nav__dropdown-wrapper > ul.nav__dropdown ul,
.navigation nav > ul > li > .simple-navigation--nested .simple-navigation--nested {
  top: 0;
  left: 100%;
}