[data-read-more] {
  position: relative;
  overflow: hidden;
}

[data-read-more-container] {
  overflow: hidden;
  position: relative;
  z-index: 1;
  will-change: height;
  transition: height .2s;
}

[data-read-more-link] {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  @include linear-gradient(top, rgba($white, 0) 0%, $background-color 80%);

  .no-cssgradients & {
    background: $white;
    padding-top: $xxxx-small-unit;
  }
}

[data-read-more-return-link] {
  display: none;
  padding-top: $xx-small-unit
}

[data-read-more-link],
[data-read-more-return-link] {
  display: block;
  width: 100%;
  @include font($bold-font);
}