.shadow--wrapper {
  position: relative;
}
.shadow__top,
.shadow__bottom {
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}
.shadow__top {
  top: 0;
  background: linear-gradient(to top, rgba($overlay-color, 0) 0%, rgba($overlay-color, .3) 100%);
}
.shadow__bottom {
  bottom: 0;
  background: linear-gradient(to bottom, rgba($overlay-color, 0) 0%, rgba($overlay-color, .3) 100%);
}