<div class="rhythm">

  <section class="rhythm-tight">
    <h2>Default Navigation (<code>nav</code>)</h2>
    <nav class="nav">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
          <ul>
            <li>
              <a href="#">History</a>
            </li>
            <li>
              <a href="#">Board Members</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Products</a>
          <ul>
            <li>
              <a href="#">On Sale</a>
              <ul>
                <li>
                  <a href="#">Example 1</a>
                </li>
                <li>
                  <a href="#">Example 2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Other</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>

  <section class="rhythm-tight">
    <h2>Horizontal Navigation (<code>nav nav-horizontal</code>)</h2>
    <nav class="nav nav-horizontal">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
          <ul>
            <li>
              <a href="#">History</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Products</a>
          <ul>
            <li>
              <a href="#">On Sale</a>
              <ul>
                <li>
                  <a href="#">Example 1</a>
                </li>
                <li>
                  <a href="#">Example 2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Other</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>

  <section class="rhythm-tight">
    <h2>Dropdown Navigation (<code>nav nav-dropdown</code>)</h2>
    <nav class="nav nav-dropdown">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
          <ul>
            <li>
              <a href="#">History</a>
            </li>
            <li>
              <a href="#">Board Members</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Products</a>
          <ul>
            <li>
              <a href="#">On Sale</a>
              <ul>
                <li>
                  <a href="#">Example 1</a>
                </li>
                <li>
                  <a href="#">Example 2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Other</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>

  <section class="rhythm-tight">
    <h2>Button (<code>button</code>)</h2>
    <button class="button">Example</button>
    <a class="button">Example</a>
  </section>

  <section class="rhythm-tight">
    <h2>Secondary Button (<code>button button-secondary</code>)</h2>
    <button class="button button-secondary">Example</button>
    <a class="button button-secondary">Example</a>
  </section>

  <section class="rhythm-tight">
    <h2>Dangerous Button (<code>button button-dangerous</code>)</h2>
    <button class="button button-dangerous">Example</button>
    <a class="button button-dangerous">Example</a>
  </section>

</div>
