<section class="rhythm-tight">
  <h2>Horizontal Navigation (<code>nav nav-horizontal</code>)</h2>
  <nav class="nav nav-horizontal">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
        <ul>
          <li>
            <a href="#">History</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Products</a>
        <ul>
          <li>
            <a href="#">On Sale</a>
            <ul>
              <li>
                <a href="#">Example 1</a>
              </li>
              <li>
                <a href="#">Example 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Other</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</section>

<section class="rhythm-tight">
  <h2>Dropdown Navigation (<code>nav nav-dropdown</code>)</h2>
  <nav class="nav nav-dropdown">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
        <ul>
          <li>
            <a href="#">History</a>
          </li>
          <li>
            <a href="#">Board Members</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Products</a>
        <ul>
          <li>
            <a href="#">On Sale</a>
            <ul>
              <li>
                <a href="#">Example 1</a>
              </li>
              <li>
                <a href="#">Example 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Other</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</section>
