<div class="rhythm-loose">

  <div class="format">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>
      Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat.
    </p>
  </div>

  <div>
    <a class="button" href="#">Button</a>
    <a class="button button-secondary" href="#">Button</a>
    <a class="button button-dangerous" href="#">Button</a>
  </div>
  <div>
    <a class="button button-small" href="#">Button</a>
    <a class="button button-small button-secondary" href="#">Button</a>
    <a class="button button-small button-dangerous" href="#">Button</a>
  </div>
  <div>
    <a class="button button-large" href="#">Button</a>
    <a class="button button-large button-secondary" href="#">Button</a>
    <a class="button button-large button-dangerous" href="#">Button</a>
  </div>

  <div class="island">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>
  <div class="island island-tight">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>

  <section>
    <header>
      <h1>Rhythm</h1>
    </header>
    <div class="grid">
      <div class="grid--1 rhythm-tight">
        <h2>Tight</h2>
        <p>
          Lorem ipsum dolor sit amet.
        </p>
        <p>
          Consectetur adipisicing elit.
        </p>
        <p>
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="grid--span-1 rhythm">
        <h2>Normal</h2>
        <p>
          Lorem ipsum dolor sit amet.
        </p>
        <p>
          Consectetur adipisicing elit.
        </p>
        <p>
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="grid--span-1 rhythm-loose">
        <h2>Loose</h2>
        <p>
          Lorem ipsum dolor sit amet.
        </p>
        <p>
          Consectetur adipisicing elit.
        </p>
        <p>
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </section>
</div>