.bg--primary {
  background-color: $primary-color;
}

.bg--passive {
  background-color: $passive-color;
}

.bg--secondary {
  background-color: $secondary-color;
}

.bg--success {
  background-color: $success-background;
}

.bg--error {
  background-color: $error-background;
}

.bg--notice {
  background-color: $notice-background;
}

.bg--alert {
  background-color: $alert-background;
}