<noscript>
  <div id="warning-noscript" class="panel__flash panel__error">
    <div class="layout--container compressed">
      <p>
        <strong>Warning:</strong> You are currently browsing without javascript enabled. 
      </p>
    </div>
  </div>
</noscript>
<!--[if lte IE 9]>
  <div id="warning-browser" class="panel__flash panel__error">
    <div class="layout--container compressed">
      <p>
        <strong>Warning:</strong> You are using a really old, insecure version of Internet Explorer. You will have a better experience with a newer web browser.
      </p>
      <p>Please either use at least Internet Explorer 10, or try a free alternative browser such as <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>.</p>
    </div>
  </div>
<![endif]-->