<% search_class ||= false -%>

<form class="<%= search_class -%>" action='<%#= search_index_path %>' method='get'>
  <div class="form-inline__contained">
    <div class="form-inline--input-container">
      <input type="text" class="form-inline--input" id="search_things" name="search_things" />
    </div>
    <button type="submit" class="form-inline--button icon-search__black"></button>
  </div>
</form>