$rhythm-normal-spacing:  $space        !default;
$rhythm-tight-spacing:   $small-space  !default;
$rhythm-loose-spacing:   $large-space  !default;

.rhythm {
  > * + * {
    margin-top: $rhythm-normal-spacing;
  }
}

.rhythm-tight {
  > * + * {
    margin-top: $rhythm-tight-spacing;
  }
}

.rhythm-loose {
  > * + * {
    margin-top: $rhythm-loose-spacing;
  }
}
