<div class="rhythm">

  <section class="rhythm-tight">
    <h2>Button (<code>button</code>)</h2>
    <button class="button">Example</button>
    <a class="button">Example</a>
  </section>

  <section class="rhythm-tight">
    <h2>Secondary Button (<code>button button-secondary</code>)</h2>
    <button class="button button-secondary">Example</button>
    <a class="button button-secondary">Example</a>
  </section>

  <section class="rhythm-tight">
    <h2>Dangerous Button (<code>button button-dangerous</code>)</h2>
    <button class="button button-dangerous">Example</button>
    <a class="button button-dangerous">Example</a>
  </section>

</div>
