<% content_for :title, "Component: Button" %>

<div class="spacing">

  <section class="spacing-tight">
    <h2 class="heading-two">Button</h2>
    <button class="button">Example</button>
    <a class="button">Example</a>
  </section>

  <section class="spacing-tight">
    <h2 class="heading-two">Secondary Button</h2>
    <button class="button button-secondary">Example</button>
    <a class="button button-secondary">Example</a>
  </section>

  <section class="spacing-tight">
    <h2 class="heading-two">Dangerous Button</h2>
    <button class="button button-dangerous">Example</button>
    <a class="button button-dangerous">Example</a>
  </section>

</div>
