<% content_for :title, "Footer" %>

<div class="rhythm">

  <div class="footer">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      <a href="#">link</a>
    </p>
  </div>

</div>
