<% content_for :title, "Heading" %>

<div class="spacing">

  <h1 class="heading-one">Lorem<br/>Ipsum</h1>
  <h2 class="heading-two">Lorem<br/>Ipsum</h2>
  <h3 class="heading-three">Lorem<br/>Ipsum</h3>
  <h4 class="heading-four">Lorem<br/>Ipsum</h4>
  <h5 class="heading-five">Lorem<br/>Ipsum</h5>
  <h6 class="heading-six">Lorem<br/>Ipsum</h6>

</div>
