<% content_for :title, "Components" %>

<div class="rhythm">

  <ul>
    <li><a href="/button">Button</a></li>
    <li><a href="/footer">Footer</a></li>
    <li><a href="/header">Header</a></li>
    <li><a href="/navigation">Navigation</a></li>
    <li><a href="/tooltips">Tooltips</a></li>
  </ul>

</div>
