<div class="spacing">

  <ul>
    <li><a href="/styleguide">Styleguide</a></li>
  </ul>

  <h2>Components</h2>

  <ul>
    <li><a href="/button">Button</a></li>
    <li><a href="/footer">Footer</a></li>
    <li><a href="/header">Header</a></li>
    <li><a href="/navigation">Navigation</a></li>
    <li><a href="/slider">Slider</a></li>
    <li><a href="/tabs">Tabs</a></li>
    <li><a href="/tooltip">Tooltip</a></li>
  </ul>

</div>
