<% content_for :title, "Component: Slider" %>

<div class="rhythm">

  <section class="rhythm-tight">
    <h2>Responsive Slider</h2>
    <p>Uses FlexSlider. Check out their <a href="http://www.woothemes.com/flexslider/" target="_blank">docs</a> for advanced usage.</p>

    <div class="slider">
      <ul class="slider--slides">
        <li><%= image_tag "http://placehold.it/800x300", alt: "Example Image" %></li>
        <li><%= image_tag "http://placehold.it/800x300", alt: "Example Image" %></li>
        <li><%= image_tag "http://placehold.it/800x300", alt: "Example Image" %></li>
        <li><%= image_tag "http://placehold.it/800x300", alt: "Example Image" %></li>
      </ul>
    </div>
  </section>

</div>
