<div class="rhythm-loose">

  <section class="rhythm">
    <h1>Fonts</h1>
    <div class="styleguide rhythm-tight">
      <h1 class="styleguide--setting styleguide--fonts--heading">Lorem Ipsum</h1>
      <p class="styleguide--setting styleguide--fonts--body">
        Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
      <p class="styleguide--setting styleguide--fonts--bold">
        Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
      <p class="styleguide--setting styleguide--fonts--italic">
        Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
    </div>
  </section>

  <section class="rhythm">
    <h1>Typography</h1>
    <ul class="styleguide rhythm-tight">
      <li class="styleguide--setting styleguide--typography--base-font-size">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </li>
      <li class="styleguide--setting styleguide--typography--base-line-height">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </li>
      <li class="styleguide--setting styleguide--typography--line-space">&nbsp;</li>
    </ul>
  </section>

  <section class="rhythm">
    <h1>Colors</h1>
    <ul class="styleguide rhythm-tight">
      <li class="styleguide--setting styleguide--colors--default-colors">Example <a href="#">link</a>.</li>
      <li class="styleguide--setting styleguide--colors--inverse-colors">Example <a href="#">link</a>.</li>
      <li class="styleguide--setting styleguide--colors--error-colors">Example <a href="#">link</a>.</li>
      <li class="styleguide--setting styleguide--colors--notice-colors">Example <a href="#">link</a>.</li>
      <li class="styleguide--setting styleguide--colors--success-colors">Example <a href="#">link</a>.</li>
    </ul>
  </section>

  <section class="rhythm">
    <h1>Spacing</h1>
    <ul class="styleguide rhythm-tight">
      <li class="styleguide--setting styleguide--spacing--spacing-ratio">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
      </li>
      <li class="styleguide--setting styleguide--spacing--spacing-unit">&nbsp;</li>
      <li class="styleguide--setting styleguide--spacing--xxx-small-space">&nbsp;</li>
      <li class="styleguide--setting styleguide--spacing--xx-small-space">&nbsp;</li>
      <li class="styleguide--setting styleguide--spacing--x-small-space">&nbsp;</li>
      <li class="styleguide--setting styleguide--spacing--small-space">&nbsp;</li>
      <li class="styleguide--setting styleguide--spacing--space">&nbsp;</li>
      <li class="styleguide--setting styleguide--spacing--large-space">&nbsp;</li>
      <li class="styleguide--setting styleguide--spacing--x-large-space">&nbsp;</li>
      <li class="styleguide--setting styleguide--spacing--xx-large-space">&nbsp;</li>
      <li class="styleguide--setting styleguide--spacing--xxx-large-space">&nbsp;</li>
    </ul>
  </section>

</div>