<% content_for :title, "Component: Button" %>

<div class="rhythm">

  <section class="rhythm-tight">
    <h2>Mini Tooltips</h2>
    <p>Uses <%= link_to "tipsy", "http://onehackoranother.com/projects/jquery/tipsy/#download", target: "blank" %>. Hover over tooltip anchors to show tooltip text</p>
    <span href="#" data-tooltip="This is a tooltip">Tooltip</span>
  </section>

  <section class="rhythm-tight">
    <h2>Mega Tooltips</h2>
    <p>Click to toggle visibility of mega tooltips</p>
    
    <div class="tooltip-mega" id="tooltip-example-1">
      <h2>Tooltip heading</h2>
      <div>
        <p>This is a larger tooltip that can contain lots of text and images</p>
      </div>
    </div>
    
    <div class="tooltip-mega" id="tooltip-example-2">
      <h2>Tooltip heading</h2>
      <div>
        <p>This is a larger tooltip that can contain lots of text and images</p>
      </div>
    </div>
    
    <div class="tooltip-mega" id="tooltip-example-3">
      <h2>Tooltip heading</h2>
      <div>
        <p>This is a larger tooltip that can contain lots of text and images</p>
      </div>
    </div>
    
    <div class="tooltip-mega" id="tooltip-example-4">
      <h2>Tooltip heading</h2>
      <div>
        <p>This is a larger tooltip that can contain lots of text and images</p>
      </div>
    </div>

    <span class="tooltip-mega--anchor" data-tooltip-id="tooltip-example-1" data-tooltip-position="top">Top</span>
    <span class="tooltip-mega--anchor" data-tooltip-id="tooltip-example-2" data-tooltip-position="right">Right</span>
    <span class="tooltip-mega--anchor" data-tooltip-id="tooltip-example-3" data-tooltip-position="bottom">Bottom</span>
    <span class="tooltip-mega--anchor" data-tooltip-id="tooltip-example-4" data-tooltip-position="left">Left</span>
  </section>

</div>
